[2020-04-14 11:48] isaacHagoel opened #1 "width and height issues when popping out and/or hovering a different type of drop zone"
1. % based width and height become relative to the body when the element pops out
2. when the elements have different dimensions in the source and target container it doesn't adjust its size when hovering above

[2020-04-14 23:18] #1 closed, assigned to nobody

[2020-04-14 23:23] isaacHagoel opened #3 "drag leave event is never triggered"
When the element is dragged outside of all dropzones nothing happens because the lastDropZoneFound variable is not set to undefined and even if it would have been, there is no code to react to it.
When fixing, need to make sure the 'leave' event fires only once

[2020-04-15 11:35] #3 closed, assigned to nobody

[2020-04-15 11:36] isaacHagoel opened #5 "element that enter a container from the bottom causes the last element to move"
element that enter a container from the bottom causes the last element to move.
expected behaviour, nothing moves if there is room at the bottom, if there isn't the container grows but still nothing should move

[2020-04-16 22:04] isaacHagoel opened #6 "drop event doesn't trigger when the mouse leaves the window"
drop event doesn't trigger when the mouse leaves the window

[2020-04-16 22:44] #5 closed, assigned to nobody

[2020-04-16 22:45] isaacHagoel opened #8 "placing the dragged element in between two elements can make the shadow element flip back and forth"
placing the dragged element in between two elements can make the shadow element flip back and forth

[2020-04-17 05:58] #6 closed, assigned to nobody

[2020-04-17 06:00] isaacHagoel opened #10 "on drop the dragged element should animate to place"

[2020-04-18 03:48] #8 closed, assigned to nobody

[2020-04-18 11:46] #10 closed, assigned to nobody

[2020-04-18 11:48] isaacHagoel opened #13 "support scrollable containers and scrollable pages"
1. when dragging the element on a scrollable container it should scroll the content
2. when dragging to the edge of the viewport it should scroll the viewport if possible

[2020-04-18 11:50] isaacHagoel opened #14 "make containers that contain other containers work (like Trello)"
Probably will require adding stopPropagation for the mouseDown event (and maybe other events as well)

[2020-04-18 11:52] isaacHagoel opened #15 "copy more styles to the dragged element"
maybe use the computed styles...
need to copy stuff like padding, colours, fonts (unless they are automatically copied somehow), need to add transition on all of them as possible

[2020-04-18 11:54] isaacHagoel opened #16 "accept additional styles as a a parameter"
1. for the dragged element (ex: different border, different scale to emulate it is floating)
2. for the origin container
3. for the current target container

[2020-04-18 11:55] isaacHagoel opened #17 "support touch events"
everything should work on touch screens

[2020-04-18 21:42] isaacHagoel opened #18 "simplify the repo's config and dependencies"
since we are exporting JS files and not .svelte files, it should be possible to drastically simplify the build.

[2020-04-18 21:44] isaacHagoel opened #19 "add eslint"
basic config should suffice

[2020-04-19 07:09] isaacHagoel opened #20 "When the dragged element resizes the mouse pointer can end up outside of it"
To reproduce
Grab near the right side of a wide element
Drag over a container with narrow  elements

Possible solution:
Set transform origin of the dragged element to mouse position at drag start.
Don't forget to update the transform and maybe not store the mouse position at drag start anymore

[2020-04-21 10:59] isaacHagoel opened #22 "dropping an item in the last position can result in wrong scroll location"
it happens in a vertical container
it happens also when it is one before last element
it might have to do with the way the flip animation works

[2020-04-21 22:16] #20 closed, assigned to nobody

[2020-04-21 22:17] #13 closed, assigned to nobody

[2020-04-22 22:09] isaacHagoel opened #24 "page scrolling by dragging is broken"

[2020-04-22 22:13] #24 closed, assigned to nobody

[2020-04-26 03:03] isaacHagoel opened #25 "support other box-sizing besides border-box"
currently, not setting box-sizing to border-box results in wrong dragged element size (it grows)

[2020-04-26 03:04] isaacHagoel opened #26 "add visual indication on the dragged element and drop zones"

[2020-04-26 03:10] isaacHagoel opened #27 "support interactive elements on draggables"
what happens if there is a button or a link on a draggable?
will they be clickable?
maybe the solution is to support drag-handles rather than dragging from any point on the element

[2020-04-26 03:21] isaacHagoel opened #28 "scrolling doesn't work on board columns"

[2020-04-26 03:42] #28 closed, assigned to nobody

[2020-04-26 03:52] isaacHagoel opened #29 "sometimes drag just fails and crashes the application"
<img width="625" alt="Screen Shot 2020-04-26 at 1 48 42 pm" src="https://user-images.githubusercontent.com/20507787/80297291-2b1f4c80-87c5-11ea-93dc-e25756d56b18.png">

[2020-04-26 04:11] isaacHagoel opened #30 "fast interaction (starting to drag before the previous dropped falls into place) causes issues"
1:
<img width="619" alt="Screen Shot 2020-04-26 at 2 08 38 pm" src="https://user-images.githubusercontent.com/20507787/80297578-bc8fbe00-87c7-11ea-9cf0-8c63163691ae.png">

2:
<img width="618" alt="Screen Shot 2020-04-26 at 2 08 14 pm" src="https://user-images.githubusercontent.com/20507787/80297582-c0bbdb80-87c7-11ea-8400-7428bb06bfc5.png">

[2020-04-26 04:15] #14 closed, assigned to nobody

[2020-04-26 06:12] #30 closed, assigned to nobody

[2020-04-26 06:38] #29 closed, assigned to nobody

[2020-04-26 07:07] isaacHagoel opened #34 "when component is grabbed from the right mouse can be left out"

[2020-04-26 11:00] #34 closed, assigned to nobody

[2020-04-27 10:14] #22 closed, assigned to nobody

[2020-04-27 19:52] isaacHagoel opened #37 "refactor and cleanup"
- Organise helpers to reflect hierarchy
- Extract functions and helpers in action.js
- Add documentation where missing

[2020-05-02 10:59] isaacHagoel opened #38 "it is still possible for the pointer to end up outside of the dragged element"
to reproduce: grab one of the wide elements roughly in the middle and dragged over the horizontal container

[2020-05-02 11:00] isaacHagoel opened #39 "page level scroll"
disabling user select on the draggables also disabled screen level scroll (probably the selection was doing it). implement it

[2020-05-02 11:55] #37 closed, assigned to nobody

[2020-05-02 11:56] #15 closed, assigned to nobody

[2020-05-02 11:58] isaacHagoel opened #41 "Write tests"

[2020-05-02 12:01] isaacHagoel opened #42 "consider disabling pointer events on all draggables while dragging"
this would prevent triggering hover styles when dragging over an element. maybe not needed.

[2020-05-03 19:19] #39 closed, assigned to isaacHagoel

[2020-05-05 10:28] #17 closed, assigned to isaacHagoel

[2020-05-05 11:13] #38 closed, assigned to nobody

[2020-05-08 11:34] #26 closed, assigned to isaacHagoel

[2020-05-08 11:49] #25 closed, assigned to nobody

[2020-05-11 10:43] #41 closed, assigned to isaacHagoel

[2020-05-11 10:45] isaacHagoel opened #49 "write end to end tests"

[2020-05-11 11:36] isaacHagoel opened #50 "Write a proper README file"

[2020-05-11 22:24] isaacHagoel opened #51 "support click events on draggable elements"
like Trello:
start drag only after the mouse has moved a bit
if there is mouseup before drag started make sure the click event is fired (it is not fired right now because i take the element out of its container right away)
make sure the click event is not fired after drag has started

[2020-05-12 12:42] #50 closed, assigned to isaacHagoel

[2020-05-12 12:42] #51 closed, assigned to isaacHagoel

[2020-05-12 12:43] #27 closed, assigned to nobody

[2020-05-12 12:44] isaacHagoel opened #53 "deploy to npm and make repo public"

[2020-05-12 22:31] isaacHagoel opened #54 "replace all console.debug with a new printDebug"
create a flag for debug mode or log-level
should be quiet by default

[2020-05-13 07:34] #53 closed, assigned to isaacHagoel

[2020-05-13 09:39] isaacHagoel opened #56 "Prevent dragging from moving the screen around on mobile"

[2020-05-14 10:25] isaacHagoel commented on #56
merged a fix just now

[2020-05-14 10:25] #56 closed

[2020-05-14 10:27] isaacHagoel opened #58 "On touchscreens the dragged element gets temporarily frozen when the element 'touchstart' was fired on is removed from the dom"
it is possible to pick it back up for some reason.
maybe it is because the elements are too small

[2020-05-19 22:50] isaacHagoel opened #59 "replace childNodes with children everywhere"

[2020-05-19 23:06] #59 closed

[2020-05-24 00:35] farskid opened #61 "Disable / Pause dragging functionality"
Is there a way to programmatically disable or pause the dragging functionality?

Tried passing `null` as the value for `use:dndzone` to signal svelte to ignore this attribute but it's not working.

[code]

[2020-05-24 01:34] isaacHagoel commented on #61
It is not supported but can be added.
Can you tell me more about the use case or provide a more complete example (REPL)? what would cause isDragEnabled to change?
Have you tried using an #if :else block (not elegant I know but as a temporary workaround)?

[2020-05-24 05:18] zba opened #62 "example for limit items number ?"
I have list of variants and placeholders for answer in test, so in placeholders I need only one item possible, tried to check items.length in handleDndConsider, but never success. Any way to do this ?

[2020-05-24 05:31] isaacHagoel commented on #62
Not sure I fully understand.
Do you need to make the dnd-zone allow taking items items away but not adding new items once the list has reached a certain maximum length?

[2020-05-24 05:40] isaacHagoel commented on #62
@zba see above

[2020-05-24 05:41] isaacHagoel commented on #61
@farskid see above

[2020-05-24 06:46] zba commented on #62
No, I want dnd zone which can contain only one item, it empty by default, but if there is value  you should not able to add new one, only drag out of it.

[2020-05-24 07:57] isaacHagoel opened #63 "Allow to dynamically enable/disable dragging out of and/or dropping for a dnd-zone"
Problem:
It is not possible to conditionally activate dragging/ dropping for a specific dndzone. For example, the container might be 'full' so further dropping shouldn't be allowed. Alternatively, maybe the App is in a state that doesn't allow taking elements out of a container temporarily.

Add two new boolean options:
`dragDisabled` and `dropDisabled`
both will default to false.
Both options sho

[2020-05-24 08:07] isaacHagoel commented on #62
@zba thanks. I've created issue #63, will it address your need?
You should be able to do the following once you have it.
Create a variable in your component `dropDisabled` and pass it into the dndzone.
On your `finalize` event handler, set it to true if items.length === 1, set it to false if items.length===0.
If that will work for you, I can probably get in within the next few days.
I am open to o

[2020-05-24 08:08] isaacHagoel commented on #61
@farskid I've created issue #63, will it address your need?

[2020-05-24 08:39] farskid commented on #61
@isaacHagoel Thanks for the fast reply :)

the case I need this in is 3 list of items like 3 columns of. trello board. you can drag cards between these 3 items. clicking on the cards will open a modal containing card details. the problem happens when the modal is open cause the cards are still draggable. from a usability point of view, it makes sense to disable or rather temporarily pause the drag

[2020-05-24 09:56] zba commented on #62
It enough for my current task, but I think it is better to have such controls in handlers, because rules can be really complex, like accept only special items (fir example only correct answer), so better if it can be event method instead of directive.

[2020-05-24 11:41] isaacHagoel commented on #61
@farskid thanks for providing more details!
I am assuming you don't want users to click buttons or type into inputs on the page while the modal is open so it is not only dragging that you need to prevent. Is this a fair assumption?

The common solution for this problem is to use an overlay which in fact nothing more than an HTML element (ex: div) that covers the entire page while the modal is open

[2020-05-24 12:24] isaacHagoel commented on #62
@zba thanks for brainstorming this with me and please feel free to make a PR. Code speaks clearer that words. In general contributions are welcome and appreciated!

Adding the controls to the handlers seems potentially problematic to me in two ways:
1. *Technical*: preventDefault tells handlers that are **downstream** from the current one (ex: the browser itself) not to not act on the event (in ca

[2020-05-24 12:46] zba commented on #62
example

[code]

or may be just make it possible to have a function before those handlers (as we don't have multitouch) , like:

[code]

[2020-05-24 21:21] isaacHagoel commented on #62
1. Thanks and sorry, I meant an example for a special case in which the current capabilities + #63 won't be sufficient not an example for canceling an event (same technical/ semantic issues as preventDefault). Can you please provide?
2. Isn't running a function that returns a boolean actually weaker than passing the result of the function as an option like #63 suggests?
Remember that you can updat

[2020-05-24 22:05] farskid commented on #61
@isaacHagoel actually yeah. the modal is the one coming from bootstrap so I assumed the backdrop is stopping any events from propagating and therefore, drag would have been automatically disabled since you couldn't access the card element.
But for some reason, when the modal was open, you could drag the whole backdrop!

So by digging more I realized the reason for this strange behaviour was that t

[2020-05-24 22:22] isaacHagoel commented on #61
@farskid I agree it is a nice feature!
I am just trying to find the proper way to do it (== the one that solves the largest amount of real world problems in the most elegant way) before I jump into coding it.
I am discussing it on #62 as well (trying to uncover how this is going to be used)

[2020-05-25 09:25] farskid commented on #61
I'll be closing this as it's resolved in https://github.com/isaacHagoel/svelte-dnd-action/issues/61#issuecomment-633307426.

[2020-05-25 09:25] #61 closed

[2020-05-25 19:06] zba commented on #62
1. This is example to show limitation of directive, because sometime you need to decide if you accept or not the items.
2. What you mean by weaker ? Boolean attribute, can be considered only for future drops, while function can consider current dragged item.

Btw, no problem with preventDefault(), because event handlers running synchronous in browser.I tried something, but because of mutationof it

[2020-05-25 21:25] isaacHagoel commented on #62
1. This not what I mean when i say 'example'. This is an arbitrary line of code. I mean a real world scenario, a use-case. If you tried to illustrate the "allow dropping only correct answer" scenario, I addressed it above. In short I think it is wrong for the library to reject the drop in that case (the app should tell the user the answer is wrong and then reset the state, this can all be done in

[2020-05-26 07:24] zba commented on #62
Make custom event cancelable: true, check event.defaultPrevented, will show you my current status, when get a time

[2020-05-26 08:12] isaacHagoel commented on #62
That's what I said above that the library will have to listen to the event upstream to check whether default was prevented. Please read again.

[2020-05-26 11:26] isaacHagoel opened #64 "Dispatch finalize event on the origin dndzone if element was dropped elsewhere"
Currently only the destination zone gets a finalize event when the element in dropped. The origin dndzone should get one too (if it is not also the destination) so that it 'knows' that the element was permanently removed.

[2020-05-26 13:49] zba commented on #62
You not need to listen, event handlers running synchronous, you can read this property on next line after emit.

[2020-05-26 15:43] zba commented on #62
In real world scenario, I need limit for test answers eq 1, and I though i can control it inside consider handler, which is natural for js :) but wasn't able :)

If little extend my task to accept only "correct" answer in placeholder, I would to be able to run a function which can decide if the answer correct or not, because it may require some simple calculations which can't be applied using type

[2020-05-26 21:06] isaacHagoel commented on #62
Okay. You pointed out to a wrong assumption I was making about events. Thank you sir!
I ran this little test and although defaultPrevented doesn't updated for the next line, I can indeed check whether the event was cancelled by looking at the value returned from dispatchEvent (I didn't know that).
https://svelte.dev/repl/48f3a06eb65549a0aaeaf1b4d9e4576f?version=3.22.3

That means that technically,

[2020-05-27 06:43] isaacHagoel commented on #63
Option 2:
Make the consider and finalize events cancellable, allowing users to run preventDefault() in order to cancel them.
[See experiment here](https://svelte.dev/repl/48f3a06eb65549a0aaeaf1b4d9e4576f?version=3.23.0).

Let's examine how the this can be used:
1. User wants to prevent dragging elements out of a dndzone - user will need to add the following logic to the consider handler: if the nu

[2020-05-27 06:44] isaacHagoel commented on #62
@zba (followup on the comment above):
placed some thoughts in #63

[2020-05-27 12:33] #64 closed

[2020-05-27 12:38] isaacHagoel opened #66 "add cypress experimental component testing config to make it possible to see them running in interactive mode"
check this out:
https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/unit-testing__application-code

In React it is done this way:
https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/unit-testing__react

[2020-05-29 00:07] isaacHagoel commented on #63
After giving it more thought, I decided to go with the original approach. Instead of `dropDisabled`, the option will be called `dropFromOthersDisabled` because it is more descriptive of what it does.

[2020-05-29 06:37] #63 closed

[2020-05-29 06:37] #62 closed

[2020-05-29 10:42] isaacHagoel opened #68 "throw an error when passing in items without an 'id' property or when passing no items in"
every item in the 'items' option must have a unique 'id' property (unique among all dndzones of the same type). Show an error message when any of the items is missing this property (later on we might want to check for uniqueness as well but out of scope for this one)

[2020-05-30 02:09] isaacHagoel opened #69 "improve readme - format input/output as table"
format the inputs/outputs section as a fancy table with columns for "type", "default value", "mandatory" etc

[2020-05-30 03:16] zba commented on #63
just tried it and it not works in 0.2.0 very simple dropzone with

[code]

ignores both new attributes :/

[2020-05-30 03:52] isaacHagoel commented on #63
@zba you don't seem to be passing it into the dndzone.
try:
[code]

[2020-05-30 03:59] zba commented on #63
ah sorry, seems at morning I just not concentrated :) thanks

[2020-05-30 04:28] isaacHagoel commented on #63
no worries. let me know if i can help in any other way.
it occurred to me that a nice way to achieve max items could be using a reactive variable (rather than doing anything in the consider or finalize handlers).
something like
[code]

[2020-05-30 11:56] zba commented on #58
It always happen when element leaves source dragzone, after start to drag it again, it never froze,

[2020-05-30 13:45] zba commented on #58
It happens when dragged node removed, so touch start to be "document's" action, if you have a scroll in document, you will easy find that it start to scroll document instead of continue touch.

[2020-05-31 02:48] isaacHagoel commented on #58
@zba great insight! So this happens when Svelte removes the shadow item from the origin list.
I have confirmed that:
1. if i don't remove the shadow element from the origin dnd-zone, the bug doesn't happen (it causes other problems though but nothing unfixable)
2. if i add a delay on the consider event when the dragged element leaves the origin dnd-zone, it freezes after the delay (so this is not

[2020-05-31 09:05] isaacHagoel commented on #58
I've spent two hours or so trying to find the root cause and doing all kind of crazy experiments. no luck so far.

[2020-06-01 09:23] zba commented on #58
I not very great in svelte, but ppl on internet mean something about index, so may be it possible to render shadow inside single {each ()} block ?

[2020-06-01 11:06] isaacHagoel opened #70 "make windowScroller touch compatible"
Seems like windowScroller only listens on mousemove and not on touchmove

[2020-06-01 12:18] isaacHagoel commented on #58
@zba okay. Good news. After hours of experimenting and googling I have found why this happens.
I have reproduced it here:
https://svelte.dev/repl/974ded85c200451ab7b3eb14b1a6b1d7?version=3.23.0
It has nothing to do with Svelte. It is a touch events "feature".
As insane as it may be, it turns out that touch events are unlike mouse events in that they always use the element on which the touch starte

[2020-06-01 23:30] isaacHagoel opened #72 "Race condition: Cannot read property 'getBoundingClientRect' of undefined"
This error happens sometimes when dropping outside of any dndzone.

action.js:177 Uncaught TypeError: Cannot read property 'getBoundingClientRect' of undefined
    at animateDraggedToFinalPosition (action.js:177)
    at handleDrop

[2020-06-02 06:41] #58 closed

[2020-06-02 06:42] isaacHagoel commented on #72
This happens when the element is dropped before the event that indicates that it has left the container is dispatched. looks like there needs to be a final check where everything is right in the drop handler

[2020-06-02 09:39] isaacHagoel commented on #72
Another issue - when the element leaves the container before 'lastDropZoneFound' is populated for the first time it doesn't realise it left

[2020-06-02 12:08] isaacHagoel commented on #72
turns out the issue wasn't a race at all although these races are theoretically possible (but i wasn't able to make them happen in practice)
the issue was simply a variable that wasn't reset properly after drop

[2020-06-02 12:09] isaacHagoel commented on #72
fix merged

[2020-06-02 12:09] #72 closed

[2020-06-02 12:10] isaacHagoel commented on #54
this might not be the best idea... revisit later

[2020-06-02 16:00] farskid opened #74 "Only draggable and Only droppable zones"
There would be cases in which you'd want some zones to be draggable only (items can be dragged out of them, no drop in them) or droppable only (items can be dropped in it, nothing can be dragged out of it). Take the screenshot below for an example. in this case there are 3 lists containing a number of items. these lists should be only draggable and nothing should be able to be dropped int them.
on

[2020-06-02 21:08] isaacHagoel commented on #74
It should be
dropFromOthersDisabled: true on the bottom lists
dragDisabled: true on the top lists

[2020-06-03 21:52] isaacHagoel commented on #74
@farskid hi, did U the try my suggestion above?

[2020-06-05 21:54] farskid commented on #74
@isaacHagoel Yeah. I get runtime error since the drop only area doesn't have any children.
![image](https://user-images.githubusercontent.com/8332043/83925596-35534400-a790-11ea-986a-1f12e9fe2c9f.png)

[2020-06-05 22:06] farskid commented on #74
A reproducable example can be found here:
https://codesandbox.io/s/blissful-flower-oexmm?file=/App.svelte

[2020-06-05 22:19] isaacHagoel commented on #74
in your example, it looks like the 'dragZone' has no consider or finilize handlers.

[2020-06-06 08:26] farskid commented on #74
Adding consider and finalize to dragZones doesn't seem to solve it either.

[2020-06-06 09:18] isaacHagoel opened #75 "previous release broke nested dnd"

[2020-06-06 09:25] #75 closed

[2020-06-06 09:27] isaacHagoel opened #77 "Better way to wait on Svelte to remove the item from the list"
Currently we wait for 20ms for Svelte to remove the element from the list on drag start (in order to prevent the freeze issue on touch screens). find a better solution that doesn't require a magic number

[2020-06-06 09:43] isaacHagoel commented on #74
I didn't have a chance to debug your code but please make sure that you can drag and drop items within the same list. if that doesn't work there might be an issue with your consider/finalize handlers (the library relies on your code to update the data list correctly).
Regardless, I fixed an issue with nested container (not sure if it was affecting you). Please use version 0.2.3.
Lastly, here is a

[2020-06-06 13:00] farskid commented on #74
Thanks for the demo. Yeah the way I was updating the items was apparently wrong but anyhow I want the drop only area to be inside each column and only accept cards from other columns than the one it's in. I went with having to put a drop only area on top of the columns because I wanted the `shadowElIndex` to always be 0 (dropped items always be dropped on top), so I ended up patching the code in a

[2020-06-06 23:10] isaacHagoel commented on #74
Interesting. So you would like to disable the ability to move an element to a different index in the list?
If so and if you'd like it to become a feature, can you please describe your usecase?

[2020-06-08 05:38] FSou1 opened #78 "enable selection"
Is there a chance to do not disable text selection of a draggable item? The best solution is to add an icon that is turning on draggable mode, otherwise, array items are still selectable.

[2020-06-08 07:45] isaacHagoel commented on #78
I think it makes sense to not disable selection when the `dragDisabled:true` option is passed in and as long as there is no active drag action taking place (if there is I will disable selection again). Will that do the trick for you? it should allow u to add a toggle like you are describing.

If so, I can play with it to see if it introduces any strange side-effects. Before disabling it, it was ca

[2020-06-08 14:35] FSou1 commented on #78
Yes, it make sense.

пн, 8 июн. 2020 г., 2:45 Isaac Hagoel <notifications@github.com>:

[2020-06-11 06:29] #78 closed

[2020-06-11 06:31] isaacHagoel commented on #78
@FSou1 done. toggling the dragDisabled option now also toggles user-select

[2020-06-12 08:38] raguay opened #80 "Items can't be a Svelte Component"
I originally made it with the items to be moved a Svelte component. It constantly threw errors about not able to set a style flag. Then I wrapped the Svelte component inside of a div and it works fine now. You might want to put this into the documentation.

[2020-06-12 09:03] isaacHagoel commented on #80
Hi @raguay, thanks for the issue.
I tried to reproduce it in the REPL but couldn't. Find my attempt [here](https://svelte.dev/repl/4e0611397bd74f88ab19c11b9fcc56d2?version=3.23.2).
(Side note: there are no animations in this REPL because 'animate' doesn't support it for svelte components only for DOM elements in a keyed list).

Can you reproduce it for me in a REPL?

[2020-06-12 09:14] raguay commented on #80
I can't reproduce it in a Repl. But, on my system which is a full Kanban
board implementation for my local use. It will only work when I surround
the component in a local div. Not sure what is wrong with it.

On Fri, Jun 12, 2020 at 4:03 PM Isaac Hagoel <notifications@github.com>
wrote:

[2020-06-12 09:30] isaacHagoel commented on #80
What are the exceptions that you are getting?

[2020-06-12 09:37] raguay commented on #80
Uncaught TypeError: Cannot set property 'userSelect' of undefined
    at styleDraggable (styler.js:83)
    at configure (action.js:290)
    at dndzone (action.js:304)
    at Object.mount [as m] (List.svelte:1)
    at mount_component (index.mjs:1350)
    at Object.mount [as m] (ListContainer.svelte:6)
    at Object.mount [as m] (ListContainer.svelte:3)
    at Object.update [as p] (ListContainer.sve

[2020-06-12 11:39] isaacHagoel commented on #80
mmm... I wonder what could make that happen.
If you could provide more details/ code snippets from your App maybe I will be able to figure it out.

[2020-06-13 08:40] raguay commented on #80
https://github.com/raguay/SvelteKanban

I currently have the `div` elements around the `Item` element in the `List.svelte` file. If you take those divs out, you get the error. With the divs, there isn't an error and drag and drop work fine.

[2020-06-14 07:37] isaacHagoel commented on #80
I am assuming you are referring to line 20 in List.svelte:
[code]
right?
Without the surrounding div, where would you place `animate:flip` (afaik you can only put it on DOM elements)?
do you remove it as well?

[2020-06-14 08:23] raguay commented on #80
I removed all the animation as well. I just have the bare bones for dnd
action to begin. That is when it gave the error I sent before.

On Sun, Jun 14, 2020 at 2:37 PM Isaac Hagoel <notifications@github.com>
wrote:

[2020-06-15 16:19] nathancahill opened #81 "Customize the dropzone style?"
Right now the style is hardcoded as `dz.style.outline = 'rgba(255, 255, 102, 0.7) solid 2px'`

Would you be interested in a PR that customizes that style?

[2020-06-15 20:32] isaacHagoel commented on #81
Sure. My thinking was to keep things as simple as possible and add customisation options as needs arise
Do you have something specific in mind (API)?

[2020-06-15 20:44] nathancahill commented on #81
This is the idea: https://github.com/isaacHagoel/svelte-dnd-action/compare/master...nathancahill:master

[2020-06-15 20:46] nathancahill commented on #81
Basically:

[code]

[2020-06-15 22:23] isaacHagoel commented on #81
The code looks legit! nice work sir.
I do have 4 comments:

1. JSDoc will need to have the extra param added (easy)
2. README.md should include the new option
3. I wonder whether there is a clearer name (from the user perspective) than 'activeStyle' for the option... not sure there is tbh, raising it anyway
4. Removing the active styles might need to be more sophisticated. I thought I could get aw

[2020-06-16 07:50] nathancahill commented on #81
3. Yes, the name can be better. Maybe `considerStyle`? `active` is vague.

4. The styles are only being removed if applied directly to the element with the inline styles tag. It's not wiping styles applied Svelte's `<style>` or anything else. Still better to backup and restore.

Adding a fifth item as I've been playing with the code more:

5. The `dzToConfig` logic means that dropzones are getting

[2020-06-16 08:40] isaacHagoel commented on #81
3. it doesn't trigger on consider but when an element from the same type is being dragged around. Maybe something like "dropTargetStyle" or "activeDropTargetStyle"?
4. You are right. I am aware. If backing up is too tricky it is okay to not do it as long as we are explicit about it in the README (we can improve it later + it is a user defined option)
5. Good point! Each dz should be styled based o

[2020-06-17 10:54] #81 closed

[2020-06-17 11:09] isaacHagoel commented on #80
@raguay I clone your repo, removed the surrounding div and it works fine.
in other words. I can't reproduce.
Closing this for now. Please let me know if u encounter it again or discover how to reproduce.

[2020-06-17 11:09] #80 closed

[2020-06-18 15:14] raguay commented on #80
Oh. I updated the whole project using 'npm update' and it now works. I must of had an outdated library. Thanks.

[2020-07-02 09:02] spooky opened #84 "apply classes instead of inline styles"
This is an improvement idea.
The `dropTargetStyle` is nice, but it may be more flexible to give the possibility to apply a custom class to the drop targets instead of inline styles.

[2020-07-02 09:08] spooky opened #85 "add hover styling"
Is it possible to change styling for the drop target that a currently dragged item is hovered over (so in the REPL example, change styling of only one of the TODO/DOING/DONE columns when an item is being dropped)?

[2020-07-03 10:36] isaacHagoel commented on #85
currently not but could be added. what did you have in mind (as far as API goes)?

[2020-07-03 10:38] isaacHagoel commented on #84
this  feature can be added but how would it be more flexible?
thx

[2020-07-04 21:23] spooky commented on #85
I'm thinking { hoverClass: "foo" } as one of the options.

[2020-07-04 21:24] spooky commented on #84
styling would be in css instead where you have selector specificity, whereas currently, with inline styling, there's little room to override.

[2020-07-05 10:45] isaacHagoel commented on #85
sorry for the delay. i've been super busy. I am pondering the classes idea. i think it has some advantages but since svelte mingles the class names the classes used will have to be declared in a :global style block. I will look into it.

[2020-07-10 00:47] vc-ca opened #86 "Custom drag handles"
I only want a specific area inside of a list item to be draggable. Is this possible with Svelte DND Action?

Link to [React DND custom drag handle example.](https://egghead.io/lessons/react-designate-control-of-dragging-for-a-react-beautiful-dnd-draggable-with-draghandleprops)

[2020-07-11 09:33] isaacHagoel commented on #86
there is no support for drag handles at the moment.
it shouldn't be super difficult to add it though. It would involve attaching the mousedown/touchstart listeners to the handle instead of the entire element. Other than that, the main challenge is coming up with a good API (as in how do we tell the library what the drag handle is), proper error handling and dealing with config changes on the fly (

[2020-07-13 18:21] vc-ca commented on #86
Understood, Thanks for the followup! 👍

[2020-07-18 15:39] zahachtah opened #87 "can it be easily made to work with maps?"
This is so useful I will definitely change my application back to using array storage again, but I originally choose a [map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) for simplicity in accessing items (but keeping the iterable functionality). I haven't used actions enough to be very well versed in judging if this is possible to add? Thanks for this nice

[2020-07-18 17:00] zahachtah commented on #87
The question may come up in the future but for now, I simply will change to using arrays for this case

[2020-07-18 17:00] #87 closed

[2020-07-18 21:03] isaacHagoel commented on #87
Hi @zahachtah,
Thanks for the issue. Can you please provide a code snippet that illustrates how you were trying to use a map?

[2020-07-21 01:15] #69 closed

[2020-07-22 23:27] #70 closed

[2020-07-23 05:12] erikbent opened #90 "I would like an option to specify the name of the id"
I am using PouchDB with svelte and an item in PouchDB uses _id as the unique identifier. I would like an option to define the name of the id.

[2020-07-23 08:38] isaacHagoel commented on #90
Hi,
so within the items array you want to pass in something like
[code]
?
and you would want to pass in the id name as a param?
something like:
[code]

[2020-07-24 11:38] jlkiri opened #91 "Example of nested dnd-zones"
Hey, awesome library!

I tried to create a dnd zone inside another dnd zone and get a `config.items[idx] is undefined` error. Most likely I'm doing something wrong, but I don't know what. Is there an "official" way of doing it?

[2020-07-24 11:57] jlkiri commented on #91
I've just realized that official REPL includes examples of nested zones. But it seems that it breaks if I do certain actions.

[2020-07-24 23:16] isaacHagoel commented on #77
I got this exception in the REPL. I will need to investigate but pretty sure it is related to this issue.
[code]

[2020-07-24 23:18] isaacHagoel commented on #91
Hi, can you please be more specific about which actions break it or in what way does it break?
I tried to play with it now and encounter an exception. I documented it in #77 (which is probably the next ticket I need to pick up anyway). Are u having the same issue?

[2020-07-25 02:32] #77 closed

[2020-07-25 02:34] isaacHagoel commented on #91
I pushed an improvement. please try again and let me know if u see issues.

[2020-07-25 02:37] isaacHagoel opened #93 "Race condition with Svelte on item enter"
<img width="542" alt="Screen Shot 2020-07-25 at 12 33 31 pm" src="https://user-images.githubusercontent.com/20507787/88447132-4c9add80-ce73-11ea-9839-defd32cee1f3.png">

this happens rarely but very annoying when it does.
it seems that a drag enter event on the previous dropzone is handled after the item has already entered another dropzone.

[2020-07-25 02:37] isaacHagoel commented on #93
relates to the comment on #77

[2020-07-25 03:25] jlkiri commented on #91
I think I get three different errors ( 😅 ) but don't know what causes them.
One is already described #93 and I think it's not fixed ( = I still get it in 0.2.8). Another one is

[code]

![image](https://user-images.githubusercontent.com/38713361/88447704-368c1d80-ce71-11ea-8a96-22c8bab3a459.png)

Yet another one occurs after quite a lot of operations:

![image](https://user-images.githubuserconten

[2020-07-25 04:29] isaacHagoel commented on #91
mmm... very strange. The only one I have never seen is the one I documented and it is fairly hard to reproduce on my machine.
When do they happen to you? Can you reproduce reliably, if so how?
Which browser are you using? What kind of input device (ex: mac trackpad)?

[2020-07-25 04:40] jlkiri commented on #91
Browser is latest Firefox. Windows / mouse.
Right now I get them just by randoming dragging and dropping. I'll try to reproduce it reliably and open an issue.

[2020-07-25 04:54] #91 closed

[2020-07-25 05:30] isaacHagoel commented on #91
Hi Kirill,
Can u do me a favour? can you try out [this REPL](https://svelte.dev/repl/210f86392b98422899ddff227b14777b?version=3.22.2)? It has no flip animation. Pls let me know if it has the same issues.
Thanks,
Isaac

[2020-07-25 06:33] jlkiri commented on #91
Looks like weird exceptions are gone in the non-flip version!

[2020-07-25 06:44] isaacHagoel commented on #91
Thanks for confirming.
Yeah, I am starting to think that I will have no choice but to implement flip by myself instead of relying on Svelte for that 😞 . Going down that route might also mean ditching the `consider` events and taking care of all of the moving around the elements until a drop takes place.
I wonder why it happens to you so frequently. Is it a relatively old/slow machine?

[2020-07-25 07:21] jlkiri commented on #91
Yeah, Svelte's FLIP implementation is very unique. There was a PR recently that refactors a lot of animation logic, but I think it got closed. If I find time I think I can help.

My machine is not slow, I was specifically stress testing the lib by doing a lot of operations very quickly, since I want to use in my product and prepare for possible exceptions.

[2020-07-25 07:39] jlkiri commented on #91
I must add that I was getting those exceptions only when Firefox Dev Tools was open (maybe logging slowed everything down)

[2020-07-25 09:22] isaacHagoel commented on #91
Thanks for the info. If you'd like to help that would be great.
Handling all of the animations within the library rather than relying o flip is something that has been a long time coming and it is going to be a massive change/ addition. That's why I have been trying to avoid it (also, I would like to keep the library as small as possible).
I wonder whether it is possible to do without also taking

[2020-07-25 09:52] jlkiri commented on #91
https://github.com/sveltejs/svelte/pull/4742

Also see an interesting discussion that happened around that time: https://twitter.com/AdamRackis/status/1254904079379238913

[2020-07-25 10:27] isaacHagoel commented on #91
wow. thanks for that.
looking at the PR and the one mentioning it I am thinking to myself: jeez, implementing some animations myself might be annoying and time consuming but it's nothing in comparison to  the massive undertaking pushkine took with that PR.
Doesn't look like his fix won't be merged anytime soon :/
You know, I was so excited about Svelte initially and thought I would champion it in

[2020-07-26 00:52] isaacHagoel commented on #91
If the key thing to avoid is invoking state changes while the flip animation is playing, one possible workaround/solution could be listening on `animationstart`, `animationcancel` and `animationend` events to find quiet times in which it is safe to dispatch the `consider` and `finalize` events (which trigger state changes).
This could be achieved by scheduling the `consider` and `finalize` events

[2020-07-26 01:01] isaacHagoel opened #94 "Experiment: avoid state changes during flip animation"
see [this comment](https://github.com/isaacHagoel/svelte-dnd-action/issues/91#issuecomment-663922073) and the thread leading to it for details.

[2020-07-27 19:15] isaacHagoel commented on #94
I have created a simple implementation of this but I still occasionally get "Uncaught (in promise) DOMException: Failed to execute 'insertBefore' on 'Node'"
Potentially useful links for further research:
https://github.com/SortableJS/react-sortablejs/issues/19
https://github.com/facebook/react/issues/8025

[2020-07-30 07:17] zahachtah opened #95 "array in object?"
This is amazingly useful and neat!

question: I happen to pass on the item array inside an object, i.e.

instead of

`let items = [
    		{id: 1, name: "item1"},
    		{id: 2, name: "item2"},
    		{id: 3, name: "item3"},
    		{id: 4, name: "item4"}
    ]; `

I have

`let node = {
        items: [
    		{id: 1, name: "item1"},
    		{id: 2, name: "item2"},
    		{id: 3, name: "item3"},
    		{id:

[2020-07-30 07:40] isaacHagoel commented on #95
[code]
should work

[2020-07-30 08:04] zahachtah commented on #95
Thank you!, that worked, but stuck at another issue downstream due to a somewhat complicated setup. I'll work on it today to see if I can solve it. I need to have recursive components... :-/  Maybe I can ask for advice again later if I can get a minimal working example in svelte.repl?

[2020-07-30 09:53] isaacHagoel commented on #95
Sure. I'm happy to help

On Thu, Jul 30, 2020, 18:04 Jon Norberg <notifications@github.com> wrote:

[2020-07-30 11:26] zahachtah commented on #95
This is an [example](https://svelte.dev/repl/3a8bfab2bb3a464eb5856c3c6dcc6285?version=3.24.0) of what I want to do and how far I got

I have a list of nodes (node1, node1....etc)

some contain items arrays for other nodes, and others are leaf-nodes, i.e don't have items but only content. These are trees of nodes.

I use the component Content.svelte recursively to create the structure I want, as yo

[2020-07-30 11:33] zahachtah commented on #95
I added output to console in the

`	function handleDndFinalize(e) {
		items = e.detail.items;
		console.log(e)
	}`

and it shows:

`message: "items is not defined"`

[2020-07-30 11:34] zahachtah commented on #95
It says "items is not defined" in the error message

[2020-07-30 11:47] isaacHagoel commented on #95
looks like in your consider and finalize handlers you are assigning to `items` (which is not defined) rather than to `node.items`.
Check out [this REPL](https://svelte.dev/repl/5e26e6fdf013426eb034c5f9fcb460ed?version=3.24.0)

[2020-07-30 12:04] zahachtah commented on #95
Awesome, thanks! I played around a bit more. I added a bind and display the JSON under the dnd areas.

1) when one moves an item and drops it one node changes name to isDndShadowItem and keeps that name, i.e. the "node4" id name disappears....Any idea what that is?

2)  It's really neat that one can drop e.g. node 4 (with its subnodes) into node3's items and it works. However, once one has done th

[2020-07-30 12:16] zahachtah commented on #95
Ah, the branch nodes lack an id...... will fix

[2020-07-30 12:18] isaacHagoel commented on #95
I can't play with it right now, but normally for nested dnd zones you would
use the "type" attribute to control what can be dropped into what. there is
an example in the REPL that is linked to in README.md

On Thu, Jul 30, 2020 at 10:05 PM Jon Norberg <notifications@github.com>
wrote:

[2020-07-30 12:19] zahachtah commented on #95
that didn't fix the issues 1 and 2 above though....

[REPL](https://svelte.dev/repl/bfd224ebe3b64a6bb89b809b91f75d7d?version=3.24.0)

[2020-07-30 12:26] zahachtah commented on #95
of course, thanks for your help!

[2020-07-30 12:42] zahachtah commented on #95
just for reference:

Everything works almost out of the box, one can drag individual items between the same levels and between levels.

dragging a container that has its own items creates an issue so that one cannot drop other items into that container's array anymore. Will investigate.

[2020-07-30 22:13] isaacHagoel commented on #95
Hi,
Could you pls clarify what is the behaviour you are trying to achieve? should it be possible to mix small and large items at the same level or should small items always reside within the large items?

[2020-07-31 07:49] zahachtah commented on #95
Mixing large and small items, creating nested views. I understand the use of type for restricting what can be dropped but I was needing unrestricted reshuffling here. Also, it seems on drop it doesn’t remove the dndShadow item property, or is that intentional?

[2020-07-31 09:04] isaacHagoel commented on #95
It shouldn't but it's most likely a symptom, not the actual issue.
Can U pls provide exact steps to reproduce and expected behaviour?

On Fri, Jul 31, 2020, 17:49 Jon Norberg <notifications@github.com> wrote:

[2020-07-31 10:34] zahachtah commented on #95
[Here is a REPL](https://svelte.dev/repl/bfd224ebe3b64a6bb89b809b91f75d7d?version=3.24.0) with exact description, steps, and expected behavior.

[2020-07-31 10:41] isaacHagoel commented on #95
Thanks. This is very helpful. I'll try to find some time to debug it
during the weekend.
I have never encountered this usecase before :)

On Fri, Jul 31, 2020 at 8:35 PM Jon Norberg <notifications@github.com>
wrote:

[2020-07-31 10:49] zahachtah commented on #95
This is by far the slickest dnd implementation I have come across. Very nice idea and implementation.

Btw, Is it possible to "assign" a sub-div" within a div to act as the "handle" by which one can drag and drop? In case one doesn't want the entire div to be a "dragging handle". Sorry, I just get ideas while playing with this. Seems somewhat more complicated.

[2020-07-31 23:46] isaacHagoel commented on #95
Your example does not have unique IDs. for example the id: `node2` is used twice. Can you please fix it such that all the ids are unique?
About drag handles see my response on #86

[2020-08-01 05:05] zahachtah commented on #95
Actually they do have unique id's. I added a check at the bottom.

I guess what you are seeing is the id's are also in the items array? and I used one item twice (i.e. id node13 was in two different item lists. That actually seems to work!?). But I changed that for now. The problem described persists

[2020-08-01 05:39] isaacHagoel commented on #95
sorry, i misunderstood the setup. yes, they are unique.
I will need to spend some more time to fully nail it down but it looks like the library assumes an item cannot be dragged over two dropzones of the the same type at the same time. The overlap in this case (once node 4 is dropped between items 9 and 10) seems to cause ignoring the dropzone inside of node4. i didn't look into the leftover shado

[2020-08-01 09:59] isaacHagoel commented on #95
I looked into the issue with the leftover isDndShadowItem property. In fact there is no issue.
If u look at the finalize event you printing you will see the property is not there.
<img width="655" alt="Screen Shot 2020-08-01 at 7 51 20 pm" src="https://user-images.githubusercontent.com/20507787/89099279-628b3e00-d431-11ea-9b69-12d3c6563eba.png">
the reason you see it in the JSON stringify output i

[2020-08-01 10:36] isaacHagoel commented on #95
About the other issue, the key to fixing it lies [in observer.js in the loop that starts in line 51](https://github.com/isaacHagoel/svelte-dnd-action/blob/f25f2e77efb3f399c094ffd59d8592ec34a377aa/src/helpers/observer.js#L51).
You can see that it loops over the dropzones (of the relevant type) and once it finds one that the dragged element is over - it breaks. Changing the order in which it loops t

[2020-08-01 10:39] jlkiri commented on #94
Not sure that it can help, but here's my experiment with spring animations and WAAPI. It's framework agnostic, so probably can be used with with lib, but since mounts and unmounts are involved, it needs a little bit more work. Overall it should be very performant.

https://www.kirillvasiltsov.com/writing/post/how-to-create-a-spring-animation-with-web-animation-api

[2020-08-02 08:25] isaacHagoel commented on #94
cool writeup. not sure it helps but still cool to read :)
this issue is at the top of my list. i want to really get to the bottom of it and understand what's up before jumping into a solution.

[2020-08-02 22:38] isaacHagoel commented on #95
@zahachtah Actually I think that simply running that loop in a reverse order might do the trick (because Svelte renders top down which determines the registration order). Would you like to give it a shot?

[2020-08-03 06:17] zahachtah commented on #95
That makes sense. I am not good at all at javascript programming, but I looked up reversing for .. of .. loops and there doesn't seem to be a built in way. A hacky way then would be to:

`for (var i = dropZones.length - 1; i >= 0; i--) {
	const dz = dropZones[i]
        ......
}`

I'll download the REPL and try this today.

[2020-08-03 07:01] isaacHagoel commented on #95
you'll need to clone the library and run it locally. if it is too much of
a hassle I will try it out at some point. hopefully this week

On Mon, Aug 3, 2020 at 4:17 PM Jon Norberg <notifications@github.com> wrote:

[2020-08-03 07:03] zahachtah commented on #95
No hassle, just skills :-)

will try today

[2020-08-03 10:42] zahachtah commented on #95
Quick progress-update. You are right in that svelte renders top-down initially. But when you move something svelte doesn't seem to redo that render so the order gets disturbed.

So, my solution will be to check the number of other items each item contains and based on that create an index that gives the right loop-order.

should have something end of tomorrow the latest

[2020-08-03 11:56] zahachtah commented on #95
Ok, have it working but am best at scientific programming so my javascript skills are not very well developed. So the code is more linear and not as elegant as a good javascript programmer can do. So instead of submitting a PR I just show you how I did. It should be simple to make this prettier for you, but the algorithm is pretty easy to see:

first I need two functions (I divided them into two s

[2020-08-03 22:55] isaacHagoel commented on #95
:)
Thanks for this. It sure does help and saves time for me.
Don't be hard on yourself. problem solving skills are more important than elegance.
There is one issue I need to address before I attend to this. I guess you can use your version for now to continue developing your app until this is fixed here, right?

[2020-08-04 05:04] zahachtah commented on #95
Yes, i can use this until then. Thanks for the tips on how to solve it. Learned much

[2020-08-04 08:06] zahachtah commented on #95
How sensitive is this to the suggested structure:

[code]
For example, if I have
[code]

or
[code]
or
[code]

any of those scenarios that could potentially give issues? Trying to understand an issue I have with my site.

[2020-08-05 16:37] EmielH opened #96 "Transitions not working in combination with drag and drop"
When you have a draggable list that has transitions, as soon as you drag an item, it is removed from the list. You can still drag it around, but it's impossible to get it back into the list. I'd like to have transitions for adding items to and deleting items from the draggable list.

**How to reproduce**

Go to the [Svelte REPL ](https://svelte.dev/repl)and enter the following code:

[code]

(Code

[2020-08-06 05:15] isaacHagoel commented on #96
Hi,
**TLDR**: [here is a solution](https://svelte.dev/repl/3f1e68203ef140969a8240eba3475a8d?version=3.24.1). enjoy!

When you add transition `fade` (or any other), you tell svelte to postpone the removal of the element from the DOM until the transition is done and then remove it. This might be fine when deleting an item but you don't want it to happen when the item is dragged out (because it shoul

[2020-08-06 05:22] isaacHagoel commented on #95
The library treats the direct children of the element that is annotated with the `use` directive and draggable items.
The dragaable items can have children and that shouldn't be a problem.
This is invalid:
[code]
The library will see X items in the list but only one direct child (the wrapper div inside of the `each` block)

[2020-08-06 10:39] isaacHagoel opened #97 "multiple handleMouseDown listeners"
as I was debugging another issue. I have discovered that the mousedown event listeners are not properly removed. this might cause all sorts of issues. the reason is that the listener is private per dnd zone so one zone cannot remove a listener of another

[2020-08-06 11:07] #97 closed

[2020-08-06 11:08] isaacHagoel commented on #94
closing this. I cannot get this exception anymore with 0.2.9 (which makes sense considering the fix it introduced)

[2020-08-06 11:08] #94 closed

[2020-08-06 11:09] isaacHagoel commented on #93
This seems to be fixed by 0.2.9 (which makes sense)

[2020-08-06 11:09] #93 closed

[2020-08-06 11:10] isaacHagoel commented on #74
@farskid is this still relevant for you?

[2020-08-06 11:10] #54 closed

[2020-08-06 11:17] isaacHagoel opened #99 "clicking on another item while previous item animates to place makes it disappear"

[2020-08-06 11:36] #99 closed

[2020-08-06 11:40] isaacHagoel commented on #91
@jlkiri can you please give it another shot with version 0.2.10?

[2020-08-06 19:03] EmielH commented on #96
Thanks so much for your fast reply and your help! I'm going to check this out and play with it for a bit, it looks very useful. I did notice I can break it by clicking the add button twice in quick succession, but that's probably something that can be fixed.

Does svelte-dnd-action actually remove the item from the list while it's being dragged?

[2020-08-06 22:43] isaacHagoel commented on #96
Hi,
Nice catch. When doing an example implementation it is always tempting to simplify and cut corners :/
I fixed (the REPL)[https://svelte.dev/repl/3f1e68203ef140969a8240eba3475a8d?version=3.24.1] to support quick add and remove operations. It can be done more neatly but at least now the example is behaving correctly :)

Technically speaking, svelte-dnd-action does not remove items from the list,

[2020-08-07 02:39] jlkiri commented on #91
Looks good to me!

[2020-08-07 03:02] isaacHagoel commented on #91
great!!

[2020-08-07 15:54] EmielH commented on #96
Thanks for the clarification about what svelte-dnd-action does exactly. This is how I thought it would work, but the behaviour with transitions confused me. Since svelte-dnd-action does not actually remove items from the list, and my `consider` and `finalize` handlers don't do this either, I'm a bit surprised that the transition is triggered at all.

My use case (which answers your thought 2) is a

[2020-08-08 00:32] isaacHagoel opened #101 "the original items list that's passed in is being mutated"
for some reason, I thought svelte passes in a copy (same as normal props).
though this has no visible effect because an event is dispatched right after, it is still incorrect.
correct behaviour: make a copy of the incoming list in `configure`

[2020-08-08 00:34] isaacHagoel commented on #96
Thanks to digging in this I did find a bug in the library/ svelte (#101) though it is not what's causing the incompatibility with `fade`.

To your question, open the console in [this REPL](https://svelte.dev/repl/ebac3bc8a4e542ce8acc189097f3f058?version=3.24.1). Notice that the handler is fired on drag start and removes the dragged element from the list of items.
When it realised it stayed in the

[2020-08-08 00:50] #101 closed

[2020-08-08 03:27] isaacHagoel commented on #95
@zahachtah I have fixed the issue and have created pull request #103. I have simplified your proposed solution a bit for better performance.
I have tested it locally with your example from the REPL and it all seems to be behaving correctly
Ideally, I would like you to verify that it solves all of your issues before I merge.
Can you please checkout branch `95-super-nested-support` and give it a try

[2020-08-08 03:28] #16 closed

[2020-08-08 03:32] isaacHagoel opened #104 "Remove "beta" from "touch support" in README.md"
It is not beta for a while now

[2020-08-08 07:04] zahachtah commented on #95
perfect! works flawless.

[2020-08-08 07:04] #95 closed

[2020-08-08 07:43] zahachtah opened #105 "intuitive drop x,y"
I noticed that it seems the location at which svelte-dnd-actions wants to drop things you move is based on the middle of the div you are moving? Once I figured that out it was relatively easy to get it to drop where you want.

But would the location of the cursor be intuitively better? Most test examples you use seem to have one row items and thus the difference is not an issue, but when you dragg

[2020-08-08 09:32] EmielH commented on #96
Hi, thanks so much for the time you're spending on this issue. 🙂 The library is really useful and I'm not trying to nitpick, but I do think this is something that can be improved and I'm willing to help out if I can!

I believe that removing the item from the list on drag start (which basically assumes that every item that is dragged will leave the territory) is not entirely correct. It causes uni

[2020-08-08 09:43] isaacHagoel commented on #95
thx for verifying. merged

[2020-08-08 09:49] isaacHagoel commented on #105
Hi,
I think that in most cases, the UX is much better when using the 'centre of gravity' rather than the mouse position.
I gained this insight by reading [this article](https://medium.com/@alexandereardon/rethinking-drag-and-drop-d9f5770b4e6b) if I remember correctly.
I agree that for large objects it doesn't feel quite right (not sure whether mouse cursor will feel better). Maybe it can be a conf

[2020-08-08 10:10] isaacHagoel commented on #96
Hi,
Thanks for wanting to improve things. I am all for that. Here are some of my thoughts:
When implementing the library I have considered which behaviour is better when an item leaves the list: leaving a placeholder there or letting the list shrink. I decided on the later because the first one gets really weird as u are moving the item on top of multiple lists before dropping. The fact that it ha

[2020-08-08 10:43] zahachtah commented on #105
Very interesting article! And I see the point.

possibly a different perspective is when dnd has to work together with inducing scroll while moving. I think (but I might be wrong) that the point that induces the scroll is based on the mouse position. that could add confusion if scroll behavior is induced differently than the reordering behavior over the items.

This is not any crucial thing at all

[2020-08-08 10:45] zahachtah commented on #105
oh, and reading further, the react version has keyboard support :-)

[2020-08-08 12:05] isaacHagoel commented on #105
You are welcome to experiment with these ideas and see if u can find something that feels better. It feels okay to me but better is always possible I think.
And yeah, the React library supports tons of stuff and have evolved over a long period of time. My goal is to only support features that are backed by real use cases. With time, we might also have keyboard support (and maybe not :))

[2020-08-08 22:15] isaacHagoel commented on #74
closing for now. feel free to re-open if this is still needed.

[2020-08-08 22:15] #74 closed

[2020-08-11 16:37] zahachtah commented on #105
I have implemented it in the site I use and have to agree that the physical approach made more sense than the mouse location. I may add a little indicator at the middle of the moving component to make that clearer.

2 quick questions:

1) when dragDisabled=false, does it still attach all functions to elements but just doesn't fire them, or does in just not build the "action" for that element?

2)

[2020-08-12 09:28] isaacHagoel commented on #105
1. it registers the elements but does not attach the listeners. See line 377 in action.js.
[code]
2. Currently no. I would think that cloning elements could be done using a button rather than using drag would be better UX. If we did want to add such capability, first we would need to define its exact behaviour (what happens if I let go of cmd while dragging? how is the new id created? how is the i

[2020-08-18 12:03] MaddoxDevelopment opened #106 "Draggable is jumping when first entering the dropzone. Question on shadow elements."
Great library, thanks for making it.

For some reason, when I drag my element from one zone to another zone, it jumps back to the left side, do you know what might be causing this issue?

The height of both drop-zones are 100vh.

Example Video: https://streamable.com/bm0sue

Also, is there a way to change the HTML of the element being dragged? I would like to transform it to look like the input th

[2020-08-18 22:26] isaacHagoel commented on #106
Hi,
This is actually the intended behaviour. If you add a border around the element it might make more visual sense.
The dragged element morphs to match its new shape in the container underneath (which is much larger in your case). It morphs around the mouse pointer such that the pointer maintains its relative position within the element (ex: if it was next to the top left corner before morphing i

[2020-08-19 00:03] MaddoxDevelopment commented on #106
Oh i see, I added a border to the dragged element and it makes much more sense visually, i'll figure out a way to style it then. Thanks for your help!

[2020-08-19 00:36] MaddoxDevelopment commented on #106
Re-opening this for a further request.

I pulled the repo to try out a few things and figured out I can solve all of my issues by having access to the inner html that is being set on the dragged element in the morph function. Would this be something you'd be willing to expose via the api? Possibly some sort of configuration to allow us to pass markup that the morphed element gets turned into when

[2020-08-19 01:27] isaacHagoel commented on #106
Thanks for the PR. I will have a look at it and test hopefully today (if not then tomorrow for sure).
Yeah, I'm totally open to this.

[2020-08-20 19:15] kyythane commented on #96
Hello 👋

I seem to be running into a similar issue, replicated in [this REPL](https://svelte.dev/repl/9c7c2e552a3d4b27b9d07ec567da33e3?version=3.24.1). It seems that a fade out causes the same breakage if nested anywhere inside the element being dragged (this example is only 1 level deep, but I have seen the same issue nested 4 levels in).

[2020-08-20 22:26] isaacHagoel commented on #96
Hi @kyythane
Unfortunately svelte transitions don't play nice with this library (and afaik they don't play well with svelte animations either).
It doesn't seem like there is much I can do about it (will be happy to be proven wrong about this).
Luckily, transitions are usually very easy to implement without the help of svelte (much easier than implementing drag and drop :)).
I have fixed your REPL

[2020-08-24 17:58] MaddoxDevelopment opened #108 "Right click should not start draggable."
If you right click an element and then close the browser context menu, the element gets stuck to your mouse. It should only drag with left click.

[2020-08-24 18:02] MaddoxDevelopment opened #109 "[Feature Request] Allow an element to be copied from one drop zone to another."
Is it in the scope to add the ability to drag an element from the drop zone, but not have it remove the original element? Essentially copying it. Similar to https://bevacqua.github.io/dragula/ Dragula's copy feature.

[2020-08-24 22:04] isaacHagoel commented on #105
related to #109

[2020-08-24 22:11] isaacHagoel commented on #109
It can be in scope. The implementation should probably be quite different to Dragula's.
This library never manipulates the lists directly, it lets the consider/finalize handlers do it.
Looks like we could achieve dragula like copy with a relatively small number of changes.  This is just off the top of my head but one way of doing it would be to add an option like
`copyOnDragStart`
when it is set t

[2020-08-24 23:06] isaacHagoel commented on #108
good catch. thanks

[2020-08-24 23:31] #106 closed

[2020-08-24 23:48] isaacHagoel opened #110 "update the example/s to show off more of the new features"

[2020-08-26 13:43] MaddoxDevelopment commented on #109
My first thought would be that if i dragged it back to the original list and an item with that id already exists, it would just do nothing.

[2020-08-26 14:10] MaddoxDevelopment opened #111 "dropTargetStyle not updating."
It appears that dropTargetStyle sets the styles one time when the dnd zone is initialized, but it never updates the styles, even when it calls my function to get the styles as I am dragging over the zone.

In the video below:

- When i first load the page, it sets my dropTargetStyle as ```{ 'background-color': 'white' }```, which is correct.
- When i drag over the dropzone, it gets new styles from

[2020-08-26 21:08] isaacHagoel commented on #111
True. That's a feature not a bug :)
The style applies when drag starts. When I reviewed it I noticed it will not be dynamically updated but I thought that it is actually a better to keep it simple until a need arises (if ever). The README should have been explicit about it I guess.
It should be super easy to add it in.
In action.js inside of the 'configure' function (which is called on every updat

[2020-08-27 12:29] MaddoxDevelopment commented on #111
Gotcha, it seems like a useful feature, but up to you if you want it added to the lib, I can do that workaround for now locally.

[2020-08-31 06:05] isaacHagoel commented on #111
Hi @MaddoxDevelopment,
Can you please checkout branch [111-drop-target-style-realtime-update](https://github.com/isaacHagoel/svelte-dnd-action/tree/111-drop-target-style-realtime-update) and see if it solves this issue for your usecase?
Thanks

[2020-08-31 12:44] MaddoxDevelopment commented on #111
Hey @isaacHagoel, just tested it out, seemed to work well, thanks for updating that!

[2020-08-31 23:06] #104 closed

[2020-08-31 23:06] #111 closed

[2020-09-01 11:45] #108 closed

[2020-09-01 22:18] isaacHagoel commented on #105
closing this for now as #109 covers copy via drag

[2020-09-01 22:18] #105 closed

[2020-09-05 03:21] isaacHagoel commented on #109
Hi @MaddoxDevelopment and @zahachtah,
I have implemented a feature that can enable copy on drag as well as a whole range of other "advanced" capabilities.
The idea is to expose more information in the dispatched events so that the consuming component could make a wider range of decisions in the `consider` and `finalize` handlers.
There are two examples in the [pull request](https://github.com/isaa

[2020-09-06 03:17] #109 closed

[2020-09-06 03:20] isaacHagoel commented on #109
I merged the PR so instead of the branch you can try it with the master branch if you'd like. I figured I would like to have this info available whether i later add a specific implementation for copy later or not.

[2020-09-06 03:25] isaacHagoel opened #115 "improve dispatcher tests"
need to test consider and the new 'info' object

[2020-09-06 03:47] #18 closed

[2020-09-06 12:00] isaacHagoel commented on #86
Actually, I had a eureka moment about this. This is almost fully supported right now with only two lines of css.
See [this REPL](https://svelte.dev/repl/30c2fdad546346de88105011012fe1d7?version=3)

The only missing bit is not disabling user-select in such a case. This should be tiny to implement. I just need to think what's the best API to create for this (maybe i will go with some kind of 'handle

[2020-09-06 12:50] zahachtah commented on #86
That's more than awesome! will implement it right away!

[2020-09-06 12:54] zahachtah commented on #109
The coming week is crazy as I just came home from one year abroad and will sell my house. hopefully, I'll get to it then.

[2020-09-06 16:07] gleuch commented on #86
For those needing an example for using a custom drag handle, [check out this REPL](https://svelte.dev/repl/a95219b1ff474119bb42e90fe1df7557?version=3.24.1).

[2020-09-06 21:51] isaacHagoel commented on #86
@gleuch
Haha. Nice! Thanks for that.
You worked around the user-select issue by enabling drag on mouse down on the handle, and disabling on mouse up.
One issue with the example as-is is that it won't support touch screens but that should be easy to fix (adding touchstart and touchend listeners).
I am currently working on adding some examples to the README. I will include this one for sure.

@vc-ca

[2020-09-06 21:52] isaacHagoel commented on #109
@zahachtah sounds like exciting times! good luck!

[2020-09-06 22:38] vc-ca commented on #86
Works for me, ya'll are awesome! <br>
![Alt Text](https://media.giphy.com/media/5xaOcLDE64VMF4LqqrK/giphy.gif)

[2020-09-09 22:43] #86 closed

[2020-09-09 22:43] #110 closed

[2020-09-12 02:41] isaacHagoel commented on #85
This is now possible using the new information that was added to the dispatched events - they now have an `info` object in addition to `items`. You can apply new styling when you get the DRAGGED_ENTERED event `trigger` and remove it when you get DRAG_LEFT (and probably also drop related triggers).
Let me know if that doesn't work out for you and/or if I can help.
Closing this for now.

[2020-09-12 02:41] #85 closed

[2020-09-12 02:57] #115 closed

[2020-09-12 03:13] isaacHagoel opened #119 "add some useful badges to the README"

[2020-09-12 03:28] #119 closed

[2020-09-12 09:31] tohodakilla commented on #90
that would be awesome, it could work with mongoDB ids format out of the box.

[2020-09-12 10:46] isaacHagoel commented on #90
this should be the next one on my list :)

[2020-09-13 21:29] blazzjosh opened #121 "The handleDndFinalizeCards function fires twice;"
Hello Gents,

Using the boards example, I notice that The handleDndFinalizeCards function fires twice;
Please drag a card and see the console
How can this be fixed?

REPL with Error:
https://svelte.dev/repl/01e391a3622341cda107dcf8b3960785?version=3.22.2

Thanks

[2020-09-13 21:56] isaacHagoel commented on #121
Hi,
the event is not fired twice on the same zone. it is fired on the destination zone (to tell it the item belongs there now) and on the origin zone (to tell it that the item does not belong there anymore).
Your log message is a bit misleading (because it implies that the item has "landed").
If you change it and add a printout of the info it will make things clearer. Something like:
[code]

[2020-09-13 22:01] blazzjosh commented on #121
Ohh clearer....
How would i get the zone's columnId where the item is dropped into?

[2020-09-13 22:16] isaacHagoel commented on #121
Please see the board in [this REPL](https://svelte.dev/repl/521ab5b44ff544a9ba3f043fbc425e2b?version=3.22.2)

[2020-09-13 22:21] blazzjosh commented on #121
👍. many thanks for the verbose....
Great Library!!

[2020-09-13 22:21] #121 closed

[2020-09-15 12:28] isaacHagoel commented on #90
Hi @erikbent , @tohodakilla ,
Please have a look at PR #122.
I realised the `id` key-name can only be overridden globally and not at the individual zone level. That's because items can be moved between dropzones and need to be able to rely on a common key property.
With that said, **I think the solution I came up with addresses your need**, plus it protects people from doing anything that could ba

[2020-09-15 12:49] tohodakilla commented on #90
@isaacHagoel It looks great! I think there is no need for different id for different zones. Global change is exactly what is needed in order to work with data from mongoDB / PouchDB out of the box.

I have read README from PR and it makes perfect sense 👍
<3

[2020-09-15 17:54] zahachtah commented on #109
playing a bit with this now, using the pull request examples you linked to above. Testing to drag it into a second dndzone. not entirely sure what goes wrong here, I suspect the handle function doesn't get the right info, no? I just want to check if I can copy-drag from one zone into another.

https://svelte.dev/repl/3baed168f17b4351a73d90c484258fdf?version=3.25.0

question: in the handler functio

[2020-09-15 22:00] isaacHagoel commented on #109
Hi @zahachtah
See a working example [in this REPL that I also added to the "examples" section of the README](https://svelte.dev/repl/924b4cc920524065a637fa910fe10193?version=3.25.1).
In your REPL there are a few issues. You are passing items1 and items2 into the dndzone as a shorthand (instead of `{items:items1, flipDurationMs}}`). Your handlers update a variable called `items` instead of `items1`

[2020-09-15 22:32] #90 closed

[2020-09-15 22:32] isaacHagoel commented on #90
@tohodakilla thanks for the feedback. merged

[2020-09-16 02:32] #68 closed

[2020-09-16 10:48] MaddoxDevelopment commented on #109
Looks awesome, thanks for adding this.

[2020-09-16 11:05] zahachtah commented on #109
Many thanks for that! this is perfect!

[2020-09-16 21:43] isaacHagoel opened #124 "Accessibility - enable keyboard support and screen reader friendliness"
Marking this as "help wanted" in case there are some accessibility experts in the crowd.
Some considerations:
What are the best practices for keyboard interactions in drag and drop scenarios?
Is there a potential issue of keyboard and mouse actions competing with each other?
How would scrolling the element/screen behave?
What would I need the library user to do (ex: make sure that tabbing into ite

[2020-09-17 18:48] erikbent commented on #90
Sorry that didn't replied (I was on vacation). This looks great. Thanks.

Op wo 16 sep. 2020 om 00:33 schreef Isaac Hagoel <notifications@github.com>:

[2020-09-19 21:23] isaacHagoel opened #125 "remove broken no dependencies badge from README"

[2020-09-19 21:27] #125 closed

[2020-09-23 23:29] isaacHagoel opened #127 "drag start can cause styles to flash"
when the item is removed from the original list and appended to the body it inherits the body styles until the next time `config` is called.
for example
[code]
the item (div) will flash orange when drag starts.
expected behaviour: the items needs to stay green.

[2020-09-23 23:39] #127 closed

[2020-09-25 20:25] vc-ca commented on #86
@gleuch 's solution works great on a desktop, but for some reason, it's laggy (for me at least) when viewed on a phone.

I thought it might have something to do with the $: reactive statement? So I took that out, used standard functions and am still getting poor performance on a phone. See [this repl](https://svelte.dev/repl/7eb1fe7730394d9397700ef294d805aa?version=3.28.0)

In contrast, I have no

[2020-09-25 23:08] isaacHagoel commented on #86
@vc-ca nice catch. It is because of a missing `e.preventDefault()` on touchstart (which allows the browser to scroll the screen as you drag and causes a lag).
I added the fix to the [repl that is linked from the README](https://svelte.dev/repl/4949485c5a8f46e7bdbeb73ed565a9c7?version=3.24.1). Give it a shot.

[2020-09-25 23:22] vc-ca commented on #86
That did it, thanks for the quick assistance!

[2020-09-26 21:41] isaacHagoel commented on #124
update: I have a prototype with keyboard support working. I am examining its details and adding proper instructions. I expect these features to be added to the library soon.

[2020-09-26 21:44] isaacHagoel opened #129 "Spike: explore wrapping in a React hook for usage within React as well"
Explore wrapping in a React hook for usage within React as well. It can take an object with event handlers (finalize and consider will point to callbacks), the node (ref or id) and the options . alternatively it can return the items or something of that nature (probably less flexible).
also requires removing svelte as a peer dependency
will need to add the flip functionality via a library or mysel

[2020-09-27 23:50] isaacHagoel opened #130 "Child elements computed styles are not copied to dragged element"
Child elements computed styles are not copied to dragged element.
In the example below the text color of the text in the item will change from green to orange when the item is dragged.
Expected behaviour: it needs to stay green.
**A workaround**: put the color styling on the div (the direct child of the dndzone)

[code]

[2020-09-28 02:01] isaacHagoel opened #131 "support an unordered list usecase"
in some cases the list shouldn't allow inner reordering on the elements because it is an unordered list (as in, items can be added to it or taken out but resorting is meaningless).
This could in theory be achieved by some logic in the consider and finalize handlers (keeps the order consistent so no resorting takes place) except that the library logic assumes that `shadowElIdx` will be respected if

[2020-10-02 12:56] isaacHagoel commented on #131
related to #74

[2020-10-02 12:57] isaacHagoel commented on #129
I have a working proof of concept implementation. still missing flip animations (will look into that next)

[2020-10-03 03:02] #124 closed

[2020-10-03 03:06] isaacHagoel commented on #105
well, we have keyboard support too now 😄

[2020-10-03 09:21] isaacHagoel opened #133 "improve the assistive instructions to not suggest tabbing to other lists if there aren't other lists of the same type"
currently: the instructions suggest tabbing to other lists regardless of whether that's possible (maybe there aren't other lists of the same type on the page).
desired: only suggest tabbing when it's legit.

[2020-10-03 11:28] isaacHagoel opened #134 "investigate why some of the aria functionality doesn't work in the REPL"
seems like in the REPL some of the aria functionality doesn't work.
The reader ignores the instructions and alerts.
In a real app the same code works fine.
investigate why.

[2020-10-04 20:10] hbbio opened #135 "component redraws the dragged item"
While playing with dnd, I seems that the dragged component is redrawn. Cf. [REPL example](https://svelte.dev/repl/5e53599e7843479aa4772045f81255df?version=3).

Is there a way to prevent that?

[2020-10-04 21:24] isaacHagoel commented on #135
what do you mean redrawn? can you please elaborate?
 the REPL looks normal to me (given that you don't need/want animations).

[2020-10-04 22:01] isaacHagoel commented on #135
do u mean the black border (focus)?

[2020-10-05 01:22] #135 closed

[2020-10-05 01:24] isaacHagoel commented on #135
@hbbio I fixed the outline issue. check out version 0.6.2 (your REPL should get the latest version when u do a hard refresh).
if this is is not the issue you were referring to feel free to re-open and add details.
Thanks

[2020-10-05 08:20] hbbio commented on #135
Thanks @isaacHagoel for the quick answer but sorry for not being descriptive enough...

What happens is the dragged item triggers a new component redraw. You can see it from the log in the console when dragging an item. I added a "contenteditable" to show why it may matter (in addition to performance): Try to edit the label of a item and then drag it. On release, the original component is drawn (w

[2020-10-05 08:41] isaacHagoel commented on #135
Hi @hbbio ,
The contenteditable in your example is not bound to anything Svelte knows about. That's why it is not persisted. it is not related to the library. Any state change will cause that.
I fixed it in [this copy of your REPL](https://svelte.dev/repl/0dfd5e6c101f481c9fb64f5dd9475fa9?version=3.29.0).
contenteditable in Svelte is explained [here](https://svelte.dev/tutorial/contenteditable-bind

[2020-10-05 10:56] hbbio commented on #135
Thanks for the explanation, it makes sense. However, in my case the components come from a separate library (which uses contenteditable underneath) and I am not able to sync the state immediately.

The less featureful `svelte-sortable-list` does not trigger a redraw so I'll keep it for now cf. https://svelte.dev/repl/ee53c4a305d1488486447e9dcd72698e?version=3.29.0

[2020-10-05 11:35] isaacHagoel commented on #135
Sorry sir. If you show me an example with the library u are using that has contenteditable, I might be able to help.
As the json.stringify in your example shows, editing the content has no affect on the actual data that your app knowns about, the event that is emitted doesn't have the edits either. The changes seem to be purely visual. I have to wonder what meaning these changes have if they are n

[2020-10-05 14:48] hbbio commented on #135
Thanks again for your support! The lib I'm using is quite huge and emits updates periodically but it is too costly to update the state at each keypress from `bind:innerHTML` (plus there are some quirks with Svelte + complex contenteditable) -- so I have to deal with not refreshing this component when the state updates (visually it's perfectly fine since the browser updates it anyway).

[2020-10-07 21:04] isaacHagoel commented on #131
In addition to removing caching of shadowElIdx, the aria instructions need to be configurable such that they won't suggest that the user uses the arrow keys to sort the list and won't announce that the item was moved to a new index

[2020-10-08 06:29] isaacHagoel opened #138 "make all of the aria instructions, dynamic labels and alerts optionally configurable"
allow the user to override all of the alerts, instructions and dynamic tags
an object from some exported key to a function that takes something in (maybe group, item and index...) and returns text should probably do the trick.
Bonus: improve some of the existing default messages

[2020-10-08 09:34] isaacHagoel commented on #131
the instructions part will be handled by #138

[2020-10-08 09:47] #131 closed

[2020-10-08 09:48] isaacHagoel opened #139 "add an example for unsortable list"
add an example for orderless list

[2020-10-09 00:54] isaacHagoel opened #140 "ability to style the shadow item"
Currently the shadow item gets `visibility:hidden`.
Need to make it configurable.
We can take in an option that takes a styles object the same way we can style the drop targets
Should get updated dynamically like any other option

[2020-10-10 00:09] isaacHagoel commented on #138
After playing with various options, I came to the conclusion that it's best to let the library users to completely disabled the auto aria features and redo them however they'd like. it is more flexible than anything else I've considered and also simpler to implement (smaller footprint)

[2020-10-10 02:14] #138 closed

[2020-10-10 12:07] #129 closed

[2020-10-10 17:50] jgpacker opened #143 "TypeScript types"
Now that Svelte supports it, would you consider migrating this project to TypeScript ?

I am proficient in TypeScript and can help!

[2020-10-10 22:27] isaacHagoel commented on #143
Hi,
Yes. I am totally open to that. First and foremost, we don't want typescript users to get red in their editor when they use the library.
What do you have in mind?

[2020-10-10 23:51] jgpacker commented on #143
I gave it a try today in my fork, and it's easier to migrate than I expected, thanks to the JSDoc annotations.
Work in progress: https://github.com/isaacHagoel/svelte-dnd-action/compare/master...jgpacker:master

Here is what I'm thinking:
* Replace JSDoc annotations by TypeScript types;
* At first, avoid changing code as much as possible, focusing on the types. And avoid exposing types to users ye

[2020-10-11 03:06] jgpacker commented on #143
Initial migration  (that avoids modifying code behavior) is done, and Cypress tests are running fine.
Build configuration still needs to be reviewed.

[2020-10-11 06:12] isaacHagoel commented on #143
@jgpacker Wow. That was fast. Nice work! 👏 👏
I gave it a brief look and everything I saw made sense to me.
Please let me know if you need help with the build configuration. I am working an a React library (custom hook and a small flip animation util) that will allow using this library within the React ecosystem. It actually works really well and is tiny compared to the alternatives. It is almost r

[2020-10-11 22:13] isaacHagoel opened #144 "Add a "drag stopped" trigger"
When using the keyboard, the app would want to know when we are going out of "dragging mode" in order to play the correct aria alert

[2020-10-12 02:26] #144 closed

[2020-10-12 04:23] jgpacker commented on #143
I created a draft PR so you can already start commenting. I was not able to fix the build yet and need to sleep. I will try again tomorrow.

[2020-10-12 04:51] #139 closed

[2020-10-12 07:05] isaacHagoel commented on #143
hi @jgpacker,
I looked at it in more details and here are my thoughts:
1. I appreciate the effort and think u totally deserve a T-shirt and a spot in the contributors list for this repo
2. As I said above, first and foremost, I don't want typescript users to get red in their editor when they use the library. Without an exported type definitions file, this goal is not achieved.
3. I don't want to h

[2020-10-12 17:11] jgpacker commented on #143
I know about dts-gen, but we need to review it manually anyway.
The easiest approach would be to just declare the types of the functions being exposed by the module.
But I am also migrating the codebase (1) to help get the static analysis benefits, (2) to help ensure the exposed types are correct and up-to-date, and (3) to personally get the experience of this kind of migration.

I don't think we

[2020-10-12 20:16] isaacHagoel commented on #140
I realised this is already doable with the existing features, without any additional library code  😃

[2020-10-12 20:18] #140 closed

[2020-10-12 22:50] jgpacker commented on #143
@isaacHagoel Now `noImplicitAny` is enabled,  which should greatly improve the developer experience.

I'm struggling with making Babel compile the TypeScript files with Rollup. Could you help me with that?
I tried based on https://www.typescriptlang.org/docs/handbook/babel-with-typescript.html and https://babeljs.io/docs/en/babel-preset-typescript

After that, we just need to use TypeScript to che

[2020-10-12 22:53] jgpacker commented on #143
Also, I want to review with you the main types exported in `action.ts`.
Does `Item` always have `name` ? Or `id`? Does `transformDraggedElement` still receives any parameter? Can `type` be any string?

[2020-10-13 07:03] isaacHagoel commented on #143
thanks.
to your questions:
`type` can be any string
each item must has an id, the name of the id property is determined by the overridable (globally) `ITEM_ID_KEY`
the signature of transformDraggedElement is:
function(element, data, index) {}
element: The dragged element.
data: The data of the item from the items array.
index: The index the dragged element will become in the new dnd-zone.

i guess

[2020-10-14 03:07] isaacHagoel commented on #143
@jgpacker I wanted to look into the build issues so pulled your latest master but `tsc` still has a lot of errors (20).

I've tried the jsdoc conversion thing to see how far it could get us and documented my findings [in this draft PR](https://github.com/isaacHagoel/svelte-dnd-action/pull/149). You might have insights into the missing bits.

I really want to get to a point in which we can actually

[2020-10-14 12:41] jgpacker commented on #143
There should be no errors on `tsc`. You are probably using an older version of TypeScript that does not recognize the annotation `// @ts-expect-error`.
Try using the one inside node_modules.

I didn't get to this point yet, but I believe we will need to configure the location from the type declaration files in `package.json`.
I wasn't aware about possible issues with `on:consider` type on svelte c

[2020-10-15 02:14] jgpacker commented on #143
@isaacHagoel I added a command `tscheck` in `package.json` to make it easier to use the `tsc` inside `node_modules`.

About the build, I made progress by compiling typescript before rollup. Having two output files in rollup is what complicated things.
Next step (some other day) should be testing type recognition in Svelte.

[2020-10-15 06:10] isaacHagoel commented on #143
@jgpacker thanks for the update. I've make progress on making svelte cooperate. it applies no matter how the type definition files are created I believe. I documented my findings [in this comment](https://github.com/isaacHagoel/svelte-dnd-action/pull/149#issuecomment-708911482). There is one thing I couldn't get quite right (not having to explicitly type the event handler) and the whole `global.d.

[2020-10-16 05:16] isaacHagoel opened #150 "Dragging the one before last item in a list make the shadow item appear at the end of the list"
This happens because the flip animations transforms the element underneath the dragged element so it doesn't understand it is above (need to look at the current position, ignoring any transforms)

[2020-10-16 05:25] #150 closed

[2020-10-16 16:51] jgpacker commented on #143
I use TypeScript in my open source project and in a major project where I work (using Next.js and React). I have also given a talk twice on how to take more advantage of TypeScript's type system.

Personally I see TypeScript as "JavaScript with explicit types" (see [TypeScript Design Principles](https://github.com/microsoft/TypeScript/wiki/TypeScript-Design-Goals)), so I would say TypeScript would

[2020-10-16 22:56] isaacHagoel opened #152 "dragDisabled doesn't work for keyboard when toggled on and off"
**Only in the context for keyboard dnd:**
setting dragDisabled to true works the first time
set it to false and then back to true and it doesn't work (u can still drag via keyboard)

[2020-10-17 01:29] #152 closed

[2020-10-17 01:33] isaacHagoel commented on #86
Just FYI, I updated the [drag handles example](https://svelte.dev/repl/4949485c5a8f46e7bdbeb73ed565a9c7?version=3.29.0) to also work for keyboard drag and drop (plus cleaned it up a bit)

[2020-10-17 01:50] isaacHagoel commented on #143
Hi,
I also used "real" typed languages extensively (like Java, C++ and C) and I have used typescript on some projects too.
It is not ignorance that makes me worried in this context, but experience 🧓.

I went over the [list of bugs](https://github.com/isaacHagoel/svelte-dnd-action/issues?q=is%3Aissue+label%3Abug+is%3Aclosed), I have fixed in this library since its inception, looking for bugs that c

[2020-10-18 02:24] isaacHagoel opened #154 "Copy 'list-style-type' to dragged element"
useful when the draggables are of type `li`

[2020-10-18 02:40] #154 closed

[2020-10-18 13:24] thousandsofraccoons opened #157 "Dnd crashes when in:scale and out:scale is added inside the card"
Please take a look at REPL:
https://svelte.dev/repl/e9886667f71e408eb495999bf5cd540e?version=3.22.2

lines 35 , 36 in tooltip.svelte

[2020-10-18 13:51] thousandsofraccoons commented on #157
Hm, it crashes even without Popper. I've cleaned up the repl to exclude code which doesn't affect the bug.

[2020-10-18 16:07] thousandsofraccoons commented on #157
Also, last version 6.1.0 contains `aria.js` which throws following error in Sapper:
[code]

[2020-10-18 16:54] zahachtah opened #158 "getting an error when importing using the Svelte.REPL. Any idea?"
So I am trying to ```import {dndzone} from 'svelte-dnd-action' ````

in another component "Item.svelte" (used in the app linked to at the end)

and get

[code]

Any idea what this could be?

I am trying to embed dnd in this SubDivide framework by Rich Harris...

https://svelte.dev/repl/96e71816787449e892d504e0933cba88?version=3.29.0

[2020-10-18 17:19] zahachtah commented on #158
Only with svelte.REPL, works fine when downloading the project and running locally. maybe not worth looking at?

[2020-10-18 19:49] Bighamster opened #159 "Version 0.6.11 broke the ability to work within Sapper"
because of this line (ssr doesn't have an access to document)

https://github.com/isaacHagoel/svelte-dnd-action/blob/5f0adc609bb6c99ead3c8187843bc50436cfc048/src/helpers/aria.js#L29

[2020-10-18 20:33] isaacHagoel commented on #157
Svelte's built-in out transitions don't work well with the library. That's because they try to delay the removal of the transitioned element from the dom.
There are some examples for workarounds in the examples section in the readme. Let me know if you need help with doing the same for scale.
Regarding breaking Sapper, sorry for that, there is another issue (opened that same day as this one 😄 ) th

[2020-10-18 20:34] isaacHagoel commented on #159
Thanks for letting me know. I didn't give SSR the attention it deserves. I will have a look. This shouldn't be hard to fix.

[2020-10-18 20:36] isaacHagoel commented on #158
I saw the REPL doing strange things before.
Maybe it is some naming conflict or something. I will have a look

[2020-10-18 21:05] isaacHagoel commented on #158
look and behold, the library has constants.js too. suspicious...
![image](https://user-images.githubusercontent.com/20507787/96385764-b7915180-11e1-11eb-9fdc-93dcba2a9a15.png)

[2020-10-18 21:53] #159 closed

[2020-10-18 21:59] isaacHagoel commented on #159
should be good now (version 0.6.12). @Bighamster please give it a shot

[2020-10-19 09:10] zahachtah commented on #158
see see..... no worries then, I run it locally and it's beautiful :-) really awesome component!!

[2020-10-19 09:10] #158 closed

[2020-10-19 10:13] Bighamster commented on #159
Thanks a lot. Works like a charm!

[2020-10-19 15:11] jgpacker commented on #143
Ok, so I will list here the list of possible problems that TypeScript found:
* JsDoc definition of Options did not contain "autoAriaDisabled", and contained "dragTargetStyle" instead of "dropTargetStyle";
*  `draggedEl.name = 'dnd-action-dragged-el'` instead of `draggedEl.setAttribute('name', 'dnd-action-dragged-el');` (`name` isn't a standard attribute in `HtmlElement`, but I haven't tested the a

[2020-10-19 19:49] Tonton-Blax opened #161 "Disable keyboard ?"
Hi and first and foremost, congratulations for this fantastic lib. It fills a long-standing gap in svelte ecosystem and that's a good thing!

Now I've got this problem where I cannot figure a simple and elegant way to disable the keyboard events listeners of your lib. It's kind of important since I'm using svelte-dnd around text editors components :)

So if you (or anyone!) can give me information

[2020-10-19 20:30] isaacHagoel commented on #161
Hi @Tonton-Blax,
It will be super easy to add such an option but i didn't implement it so far because it means making your app inaccessible.
Can you please provide more details about your usecase (or a repl)? Maybe we can come up with a way to make it work without sacrificing accessibility

[2020-10-19 21:44] Tonton-Blax commented on #161
Thanks Isaac for such a quick reply! My code is such a mess right now that I'd find it difficult to REPLize.
So I can just hope the issue is readable enough with a messy code section.

`   <section use:dndzone={{items: $form.postes, flipDurationMs, dropTargetStyle:{outline:"5px dashed #246A73", height:"100%"} }} on:consider={handleSort} on:finalize={handleSort}>
    {#each $form.postes as poste, j

[2020-10-19 21:51] Tonton-Blax commented on #161
Oh damn it sorry for the bad github code block formatting issue, I don't know which part this thing struggles to parse

[2020-10-20 01:47] isaacHagoel commented on #161
I think I fixed it for you. check [this](https://svelte.dev/repl/56d790351a3b40e2b34c8df1a92423ec?version=3.24.1) out.
The magic is in line 19 of your Text component (stopping event propagation).
Keyboard drag still works normally when tabbing to the outer div (as it should)

[2020-10-20 02:57] #19 closed

[2020-10-20 04:31] isaacHagoel commented on #143
Thanks for the list!
I think it is fair to say that even though these problems shouldn't exist in a codebase and it is bad that they slipped in, none of them has any real effect.
I will use your MR in order to create a type definition file and update the README to explain how to make svelte not complain about the handlers when using typescript.
I might revisit this decision in the future but I can

[2020-10-20 09:40] Tonton-Blax commented on #161
Thank you so much Isaac!
You know what's better than a magical one-liner ?
A magical one-liner noop! :+1:
And now it's fully functional without any disability trade-off

[2020-10-20 10:03] isaacHagoel commented on #161
My pleasure. Keep fighting the good fight

On Tue, Oct 20, 2020, 20:40 Tonton-Blax <notifications@github.com> wrote:

[2020-10-20 10:03] #161 closed

[2020-10-20 11:09] #143 closed

[2020-10-20 13:39] pReya opened #165 "Make console.debug() output configurable"
Internally you're using `console.debug()` to output info to the console. However this seems to be an alias for `console.log()` in most browsers. It would be great to enable/disable the debug output via a boolean config variable.

Is there any other mechanism to disable debug output? Would you be accepting PRs to implement this?

[2020-10-21 01:14] isaacHagoel commented on #165
Hi @pReya
I was under the impression that console.debug works the same on all browsers (and [has full support](https://developer.mozilla.org/en-US/docs/Web/API/Console/debug)). However, I tested it and even though Chrome and Firefox behave as I expect, Safari seems to be showing all log levels by default.

With that said, I am totally open to making this library less spammy on the console. There w

[2020-10-21 06:16] pReya commented on #165
Thanks for your answer @isaacHagoel!

Aside from Safari not behaving as expected: Setting a log level in the browser only changes, which messages the user gets to see. I would like to have control over which messages are actually created. I don't want to log anything to console in production – no matter the browser setting.

1. I see your point. Having this as an option for the action would indeed

[2020-10-21 06:47] isaacHagoel commented on #165
Fair point about logs in production.
About #1, I guess the best and simplest to implement option would be an export that overrides that global printDebug function . Similarly to the existing `overrideItemIdKeyNameBeforeInitialisingDndZones`.
Maybe something like `setDebugMode(boolean)`.
I believe 99.9% of users will not need to use it or care about its existence.
This would allow debugging in the

[2020-10-21 07:04] pReya commented on #165
So, if I understand you correctly, you'd prefer it to look like this, right?

[code]

[2020-10-21 07:07] isaacHagoel commented on #165
Should be `false` by default but otherwise i think so, yes

On Wed, Oct 21, 2020, 18:04 Moritz Stückler <notifications@github.com>
wrote:

[2020-10-21 07:09] pReya commented on #165
Yeah, I agree it should be false by default. I just thought that's the way you like it, b/c it's more like your current default setting (which logs everything – only shows depending on browser setting).

I'll try to whip up a PR during the next days.

[2020-10-21 07:17] isaacHagoel commented on #165
Cool. Thanks

On Wed, Oct 21, 2020, 18:09 Moritz Stückler <notifications@github.com>
wrote:

[2020-10-21 09:52] isaacHagoel commented on #165
@pReya
I suddenly recalled an article I read one.
The printDebug function should probably take a function that returns a string (or that returns an array of stuff to print, the way console.debug expects it) rather than taking a string as I proposed above.
Something like:
[code]
This is better than taking a string because this way calling the no-op function becomes much cheaper.
Many of the debug s

[2020-10-22 07:57] weeblr opened #166 "Dragged content keyboard interactions broken"
Hi there,

Many thanks for this work, very useful for me. I'm trying to use svelte-dnd-action to allow re-ordering of a table rows by the user.
This works fine for all mouse-based operations but breaks when the rows have interactive elements such as a checkbox.
Here is [a REPL](https://svelte.dev/repl/2140934732a14219975549076f11a10c?version=3.29.0).

Each row can be re-ordered fine and has an "En

[2020-10-22 08:27] isaacHagoel commented on #166
Hi,
there is a simple solution. Do this:
[code]
With that said. I should make the keyboard drag react only when the event happens on the parent element (rather than the parent or any of its children). will fix soon.

[2020-10-22 08:31] weeblr commented on #166
Hi

Thanks, yes, it's likely better to fix that, it's kinda odd to have to modify each and every controls within the table. This is an ultra-simple example, in reality there are many svelte components involved and I would have to stop propagation at the correct level for each one.

I can live with disabled keyboard dnd for now as each item can also be re-ordered on the item "Edit" page.

[2020-10-22 08:35] isaacHagoel commented on #166
Yes I will look into it. it is a simple fix except that it might break the "drag handles" example.
I will leave this issue open and update.

[2020-10-22 08:58] weeblr commented on #166
Hi @isaacHagoel

I give it another try and it seems to be better with this change in `function handleKeyDown` of `keyboardAction.js`:

[code]

I see no advserse effect, is this what could break your dragHandles example?

[2020-10-22 09:21] isaacHagoel commented on #166
btw, while debugging i noticed that the `tr` elements don't look right when dragging them. i think it is because when they stop being a child of the table they loose some of their styling. another thing i will need to look at. first i see the library used on a table :)

[2020-10-22 09:24] isaacHagoel commented on #166
(cont)
and regarding the fix u suggest. I was trying something similar within the same handler:
[code]
the idea is that we don't want any input element to trigger a drag but any other child (ex: a drag handle) should.
seems to be working. still playing with it.

[2020-10-22 09:40] weeblr commented on #166
Hi

OK I see why you'd want some child elements to still be able to trigger a drag, I'll test this version as well.

As for the tr loosing style, yes, I struggled with that. Eventually what I did was to replace the entire tr with a styled div through "transformDraggedElement":

[code]

I added a background color to make it stand out and a title that reads something like "Move xxx after yyyy" or "M

[2020-10-22 09:53] weeblr commented on #166
Hi

I see no adverse effect with your version of the code in my testing.

[2020-10-22 10:00] isaacHagoel commented on #166
Thanks for checking and cool solution for the styling issue!

I would want the lib to work for tables out of the box if possible (or warn people in the README if there is something fundamental that makes this impossible) . i will create another issue for that.

About the original issue, I am pretty tired right now so probably not a great idea to rush and release the fix.
I will play with it some m

[2020-10-22 10:02] isaacHagoel opened #167 "<tr> styles are not preserved when removed from the table (on drag)"
Example [here](https://svelte.dev/repl/959792e4586c4258b47096d019a4ddec?version=3.29.0)

[2020-10-22 10:15] weeblr commented on #166
Not sure how you can work this out in the general case. Maybe in my case where I only re-order items within the tbody? But what if you want to drag a row from one table to another? In any case, if the dragged item is not a child of that specific table anymore, it will basically looked unstyled. Going to be hard to handle all cases.

Maybe some suggestions on styling with transformDraggedElement wo

[2020-10-22 18:06] danawoodman opened #168 "[QUESTION] Is it possible to do a nested/tree-type draggable list?"
Awesome library!

I was wondering if there is an example or documentation on how to do nested lists, for example a list like:

1. Item
2. Item
    1. Item
        1. Item
    2. Item
3. Item

Could you drag and item, say `2.i.a` to the root level and/or drag as a sub item of something, say `3`?

Thanks for any direction you can give!

[2020-10-22 20:50] isaacHagoel commented on #168
Hi,
In the examples section, there is one called [crazy nesting](https://svelte.dev/repl/fe8c9eca04f9417a94a8b6041df77139?version=3.29.4). Does it help?
Thx

[2020-10-22 20:57] isaacHagoel opened #169 "keyboard action doesn't work correctly for the crazy nesting example"

[2020-10-23 01:34] #166 closed

[2020-10-23 01:35] isaacHagoel commented on #161
@Tonton-Blax
with version 0.6.16 and above it should work out of the box without needing the magic solution

[2020-10-23 06:36] #169 closed

[2020-10-23 06:52] isaacHagoel commented on #166
@weeblr I can't prioritise the table styling atm but it still bothers me.
Other elements keep their style just fine thanks to the function in `styler.js` that copies the styles from the original element.
Maybe there are some styles that it misses.

[2020-10-23 07:01] Tonton-Blax commented on #161
Thanks :+1:
Curious of how you did that though :)

[2020-10-23 07:20] isaacHagoel commented on #161
If the key event (for enter or space) comes from a child and the child has
a 'value' property (which means it is a button or an input), the library
ignores it

On Fri, Oct 23, 2020, 18:01 Tonton-Blax <notifications@github.com> wrote:

[2020-10-23 08:38] weeblr commented on #166
Hi
I don't know enough about the internals of this lib but if the dragged element is created outside of the dndzone, then it'd make sense copying the styling would not be enough and a tr outside of a parent tbody or table would lose its visual aspect. I see you create the dragged element with "cloneNode" but you don't "appendChild to the original element parent element, maybe that's needed? All th

[2020-10-23 09:00] isaacHagoel commented on #166
I think it's because when u pick the last item up, the table shrinks and it
is not over it anymore.
If it has padding bottom or another way to stay below the element it wont
happen (unless the user drags it super quickly out of the table).

On Fri, Oct 23, 2020, 19:38 Weeblr <notifications@github.com> wrote:

[2020-10-23 09:05] weeblr commented on #166
I think that's normal behavior for a table, tbody, etc Padding does not apply to table elements.
Most importantly remember that this is happening **only on the last row** because I'm overriding the draggedElement styling.
Without doing that, this happens on **all** rows, not just the last one.

[2020-10-23 09:10] isaacHagoel commented on #166
TransformDraggedElement only kicks in when the dragged element enters the
area over the dndZone (can be a different transform for different zones).
When u drag any item except for the last it is still over the table.

About it happening all the time for table rows, i opened a separate issue
for that when we discovered it

On Fri, Oct 23, 2020, 20:06 Weeblr <notifications@github.com> wrote:

[2020-10-23 09:13] weeblr commented on #166
Isn't there a "shadow" element inserted in lieu of the dragged one to "keep the space"?

[2020-10-23 09:17] weeblr commented on #166
area over the dndZone (can be  different transform for different zones).

This is correct, I added a border to the table and when I start dragging, the dragged element is indeed taken out of the table so the table shrinks. TransformDraggedElement is called when the dragged element gets back onto the table. So maybe the entire issue is about the dragged element jsut being cloned and not being appen

[2020-10-23 09:22] isaacHagoel commented on #166
I dont think so. It can't stay a child of the original parent and as i
stated before, this problem seems unique to this situation. I will debug it
in details when i get to that issue (you're welcome to have a look of
course)

On Fri, Oct 23, 2020, 20:17 Weeblr <notifications@github.com> wrote:

[2020-10-23 09:30] weeblr commented on #166
No problem, hope you can sort it out.

[2020-10-23 19:53] isaacHagoel commented on #161
actually i tested it now with your repl and i see it still doesn't work because in your case it is not an input element but a normal container with contenteditable true. will create an issue to fix (should be a tiny fix)

[2020-10-23 19:54] isaacHagoel commented on #168
@danawoodman does the answer above resolve this or should i leave the issue open?

[2020-10-23 19:55] isaacHagoel opened #172 "ignore children with contentediable for keyboard drag start"

[2020-10-23 22:19] #172 closed

[2020-10-23 22:21] isaacHagoel commented on #161
okay. now it is really fixed for your usecase (0.6.18)

[2020-10-24 03:13] danawoodman commented on #168
@isaacHagoel yes! That's great! Maybe it could be in the readme or did I miss it? Thanks 🍻

[2020-10-24 03:25] isaacHagoel commented on #168
It's in the readme. It's title is "crazy nesting" :)

On Sat, Oct 24, 2020, 14:13 Dana Woodman <notifications@github.com> wrote:

[2020-10-24 21:39] #168 closed

[2020-10-26 03:42] isaacHagoel commented on #165
hi @pReya
did you have time to work on this one?
Thanks

[2020-10-27 15:57] isaacHagoel opened #175 "Add auto formatting"

[2020-10-28 09:02] weeblr commented on #167
Hi @isaacHagoel

Not sure you had a chance to look at that but I've been facing another, somewhat related issue: if the table I'm working with only has one single row and you try to re-order it, usually by mistake, then dnd crashes:

[code]
Happening here:

[code]

The problem here is that I can't replicate this on the REPL, with a simpler setup. It's only happening in my app even though my really

[2020-10-28 09:37] isaacHagoel commented on #167
i am moving house tomorrow so things are a bit chaotic here atm.
do u assign a type to the dropzone in your options?
could it be that the zone gets destroyed when there is on row left? search for "pointer dndzone will destroy" in the debug console.
otherwise, i will need to see some of your code in order to try to help

[2020-10-28 09:45] weeblr commented on #167
Hi

Thanks for taking the time to reply. I'm not assigning a type to the (single) dropzone on that page. I'll look into this more today and let you know if I can find something.

[2020-10-28 10:37] pReya opened #176 "Element being rendered, even if dndzone is conditional"
My parent element (div), that I apply `use:dndzone` to, is being rendered conditionally. However, no matter if the element is actually rendered or not, I always end up with a rendered element in the DOM.

[code]

In the browser I can always find this element (with a height of 0, so it's not visible), regardless of the state of my `images` variable:
![Screenshot 2020-10-28 at 11 35 58](https://user

[2020-10-28 10:56] weeblr commented on #167
Adding a type does not change anything.

[2020-10-28 11:18] weeblr commented on #167
Yes, I see that in the console:

[code]

But I don't see why that would happen. The tbody (on which dndzone is attached) is not part of the #each loop:

[code]
So I don't think Svelte would destroy it, even if it becomes empty. And when I do a simplified REPL, it does not happen.Don't really know ofc, will try to understand.

[2020-10-28 11:33] weeblr commented on #167
OK, I've got a better understanding: the "real" pseudo code of what i'm doing is:

[code]

With this, the tbody is indeed removed as soon as the items array is updated inside of on:consider.
So I switched to this:

[code]

If you do that, then svelte-dnd-action still crashes but the error is not the same:

[code]

So right now I have removed the display of a separate "No data available" tr and the

[2020-10-28 12:35] weeblr commented on #176
Hi

Is it possible your `images` variable is defined, ie an array but an empty one? like you should test for

[code]
?

[2020-10-28 12:39] weeblr opened #177 "When using keyboard, on:finalize is triggered at each position change"
Hi

When using the keyboard to re-order rows within a table, one:

- focus a row
- press enter/space
- start moving up/down the row with arrow keys
- finalize (or so I thought) the re-ordering by pressing again the enter/space key?
- maybe cancel the re-ordering by pressing ESC key?

I'm seeing that the on:finalize event is triggered each time an arrow key is pressed instead of only when the final

[2020-10-28 12:45] weeblr commented on #177
OK, after reading the doc again, this seems to be by design.

Can this be changed somehow so that finalize is fired only once: when user exits dragging mode with Enter/Space. ESC should indeed cancel dragging mode but return the item to its original location?

[2020-10-28 13:09] pReya commented on #176
@weeblr You're absolutely right. I'm sorry I missed this. Thanks for your help!

[2020-10-28 13:09] #176 closed

[2020-10-28 14:29] weeblr commented on #167
Hi again

Another piece of information, this time directly related to the problem at hand, that is working with tables.

If you look[ at this REPL](https://svelte.dev/repl/33410a2062504f1badabf983cba5e7f3?version=3.29.4), you'll see that I tried to use the documented method to style **the shadow** element. I give it a red background in that case.

But as you can see, the red background is applied

[2020-10-28 20:06] isaacHagoel commented on #177
I think that for the purpose of updating the API, you could ignore all keyboard events (SOURCE would be SOURCES.KEYBOARD) except for TRIGGERS. DRAG_ENDED.

[2020-10-29 07:43] weeblr commented on #177
Hi

I assume TRIGGERS. DRAG_ENDED is only triggered when the user presses Enter/Space or ESC the second time?

Don't think that can work though as I can certainly only make an API call to update the server when that happens, however the re-ordering has still taken place in the client. So if I don't make the API calls right away:

- there will be a discrepancy between client ordering and server ord

[2020-10-29 09:44] weeblr opened #178 "Conflict with focus-visible polyfill"
Hi

I have just noticed a conflict [with the focus-visible polyfill](https://github.com/WICG/focus-visible), used to show a focus ring when keyboard is used but avoid it when using mouse navigation.

What using the keyboard to re-order items in a list, svelte-dnd-action normally adds an outline to the item being moved to identify it.

However when focus-visible polyfill is enabled, that outline is

[2020-10-29 09:53] isaacHagoel commented on #177
There is no such thing as cancelling a move when using keyboard. Esc is
just another way to exit dragging mode. It was imlemented like this after
consulting with an accessibility expert. It requires the least amount of
work and memory to operate.

On Thu, Oct 29, 2020, 18:43 Weeblr <notifications@github.com> wrote:

[2020-10-29 10:02] isaacHagoel commented on #178
The library does not draw the outline. It just calls .focus() on it. The
browser then does whatever it does with focused elements (i.e draws an
outline)

On Thu, Oct 29, 2020, 20:44 Weeblr <notifications@github.com> wrote:

[2020-10-29 10:09] weeblr commented on #178
OK. yet, I will review the CSS used with focus-visible and try find a workaround

[2020-10-29 10:09] #178 closed

[2020-10-29 10:19] weeblr commented on #177
Experts should all agree but they don't :) [W3-ARIA](https://www.w3.org/wiki/PF/ARIA/BestPractices/DragDrop) and [others ](https://dev.opera.com/articles/accessible-drag-and-drop/)think that Enter/Spacebar should validate the move and [ESC should cancel the move entirely](https://medium.com/salesforce-ux/4-major-patterns-for-accessible-drag-and-drop-1d43f64ebf09), as I described above.

I understa

[2020-10-29 10:40] isaacHagoel commented on #177
I am not concerned about making big changes if they are for the better. In
this case, I think it will worsen the UX. I am willing to be convinced
otherwise

On Thu, Oct 29, 2020, 21:19 Weeblr <notifications@github.com> wrote:

[2020-10-29 10:48] weeblr commented on #177
Happy to hear that! I cannot convince you myself, not knowing enough about the topic. I researched the matter and all articles I find, either in "official" sites, ie W3-ARIA wiki or independant entities (Opera browsers, indie devs) describe the same operation mode:

- focus an item
- press Space to enter drag mode
- use arrows to select target
- press Space again to validate operation
- press ESC

[2020-10-29 10:54] isaacHagoel commented on #177
I read all of these resources and many more and the documentation on the
different aria attributes (dropeffect etc.). My impression (reenforced by
the expert) was that there is no standard and that reason is the best guide
:)
Try to convince me why behaviour x or attribute y are better than what the
library currently does

On Thu, Oct 29, 2020, 21:49 Weeblr <notifications@github.com> wrote:

[2020-10-29 11:01] weeblr commented on #177
the expert) was that there is no standard and that reason is the best guide

There definitely IS a standard (I linked to it). That it's not applied by AT providers in a consistent manners seems to be a constant of accessibility. My reason tells me what I outlined below. Your reason may differ :)

library currently does

When doing a drag and drop with a keyboard, I want the same freedom as when us

[2020-10-29 11:09] weeblr commented on #178
FYI, I workedaround this by maintaining a variable that holds the currently keyboard-dragged item id and adding the "focus-visible" class when refreshing the rows display.

The class was not restored after a KB-operation. I suspect because this class is added dynamically by the focus-visible polyfill, it was not added back after the svelte redraw.

[2020-10-29 13:44] mosheduminer opened #179 "Option to leave items in DOM (and position with CSS)"
Hi, it appears that svelte-dnd-action removes elements from the DOM after drag, and it is upon the caller to recreate the list using `event.detail.items`, which is then rerendered by an `#each` block.

I have a use case with dynamic components and DOM, where I would like to allow rearranging the components, but without altering the DOM or the svelte component tree. I can do this by upating CSS, se

[2020-10-29 22:29] isaacHagoel commented on #177
Hi,
If you read through that ARIA link you might notice that it is talking
about a dropdown menu for "copy", "move", "reference", the ability to
select multiple objects and other things that are not quite relevant.
Some of the properties mentioned at [marked as depracated](
https://www.digitala11y.com/aria-dropeffect-properties/) and so on.
I invite you to turn your screenreader on and try to actu

[2020-10-30 09:17] weeblr commented on #177
Hi

Thanks for looking.

For our use case, we are not talking about selecting items here, not sure what you mean. Yes, the spec covers a wider scope but it also covers the basic use case we are facing: moving an item from one place to another.

it's in [aria1.1](https://www.w3.org/TR/wai-aria-1.1/#attrs_dragdrop) and the spec says it will be replaced by something else. That does not affect our dis

[2020-10-30 22:47] isaacHagoel commented on #177
I think it is very doable and might be better than what we currently have. I guess I didn't explain the mixed mode (clicking and dragging stuff with the mouse while being in keyboard drag mode should still work in a way that is not broken).
I can give it a shot when i have some time or you are welcome to try if you'd like. I shouldn't be too complex and all of the changes should happen in a single

[2020-10-30 23:16] #165 closed

[2020-10-31 09:19] isaacHagoel commented on #179
@mosheduminer sorry for the delay, you caught me in the midst of moving house. I might be able to help.
Can you tell me more about your use-case?
What are you trying to achieve?
Would u like the items to always have the same positions (== their original positions) in the list as far as Svelte is concerned (so it doesn't re-render) but still make it look as if they changed position?
This sounds doa

[2020-11-01 01:35] mosheduminer commented on #179
Yes, exactly. In fact, I don't even really need to use an each block at all, since I'm not expecting re-renders.

I have mutable state in the various components/items, so I don't want to move them with re-renders, only with css. Unfortunately, it appears to break when I try (as in the REPL i linked above).

[2020-11-01 10:22] isaacHagoel commented on #179
@mosheduminer i played with it a bit but yeah, looks like this idea breaks some of the library's core asumptions.
I'm still curious about this usecase. Why would you want to make the reordering of the list visual only? What breaks in your app logic when svelte re-renders the list?

[2020-11-01 12:15] mosheduminer commented on #179
I am building a [GUI](https://github.com/sirixdb/sirix-svelte-frontend) for [SirixDB](https://github.com/sirixdb/sirix) (a temporal database) with various independent panes, which I would like to rearrange, and each pane has network and display logic, rerendering would cause a loss of that state, unless I moved the state higher up (something I should maybe do in the future, admittedly). An old scr

[2020-11-01 21:35] isaacHagoel commented on #179
@mosheduminer
I see. Thanks for the explanation.
Indeed, the way to achieve it is to pull all of the data that needs to be persisted (including scrollTop in your case) into the items array. See [this REPL](https://svelte.dev/repl/eb2f5988bd2f46488810606c1fb13392?version=3.29.4)

[2020-11-01 21:38] mosheduminer commented on #179
Hmm, okay, thanks. I didn't want to pull the state up from the panes, but I guess there is no way around it if I want to use this library.

[2020-11-01 21:43] isaacHagoel commented on #179
I thinks so. imo, you will be happy that you did long term (it is more idiomatic to how Svelte does things). I will let you know if some other solution pops in my mind.

[2020-11-01 21:43] #179 closed

[2020-11-01 21:44] isaacHagoel opened #182 "Add an example with maintaining the scroll position"

[2020-11-02 15:11] weeblr commented on #177
Made a PR, to get started...

[2020-11-02 15:18] weeblr commented on #177
Please look at [this PR](https://github.com/isaacHagoel/svelte-dnd-action/pull/183).

[2020-11-03 23:17] #175 closed

[2020-11-20 10:51] v1ack opened #186 "Grab position in svelte components"
There is a problem with grab position when you grab by the right side of div. Seems like it is because of `bind` on svelte component

![2020-11-20-13-20-11-min](https://user-images.githubusercontent.com/11501957/99791475-bb90f600-2b36-11eb-931a-10c0b5d9fbbc.gif)
Here is an expample [repl](https://svelte.dev/repl/ab685f40674d42c29c3555933a349357?version=3.22.2)

Without bind it works good

[2020-11-21 06:52] isaacHagoel commented on #186
@v1ack interesting. I wonder why binding has this effect.
what is the usecase here? why are do you need to bind this way?
Thanks

[2020-11-21 12:33] v1ack commented on #186
I'm developing some kind of text editor with blocks
Here is a simple example of idea [repl](https://svelte.dev/repl/76479ae3f6e94976bb9f57dea95c5883?version=3.29.7)
So draggable components have editable content inside

Of course it's possible to do it with store, but with bindings it's easier.
Also i found a workaround

[code]

[2020-11-21 19:00] isaacHagoel commented on #186
@v1ack thanks! so it has to do with binding the shadow item?? nice catch. how did it occur to you?
i'll need to check what i am doing it within the library code that might cause this strange conflict of interests with Svelte. The first place i should look is the morphing function that basically copies its styles to the dragged element.

if you're going to use the workaround i recommend importing `

[2020-11-23 12:20] Florian-Schoenherr opened #187 "Handle dnd elements more dynamic"
[REPL of what I'm trying to accomplish](https://svelte.dev/repl/dc42a5780ab54666a103fbdc95cb2229?version=3.29.7)

This errors twice:
![errors](https://user-images.githubusercontent.com/65456722/99960972-ede86080-2d8d-11eb-840b-5b9e1528cc3a.png)

I hope this will be possible, this way you could use a dnd-action "annotated" element as a sort of dynamic container.

[2020-11-24 04:02] isaacHagoel commented on #187
Hi @Florian-Schoenherr ,
I would be happy to understand the usecase better.
It happens because the number of children is different (larger) that the number of items. Not sure why the slot causes that.
[code]
`config.items[idx]` in the last line is undefined.
The fix might be as simpler as looping over the items instead of over the children. I am super busy atm. Can try to get to it or be my guest

[2020-11-24 07:11] Florian-Schoenherr commented on #187
usecase: I will use a Component consisting of <svelte:component> inside the slot and also nest multiple dnd zones, don't know if that helps.
If you can try, that would be nice, otherwise I'll look at it on a weekend.

[2020-12-09 03:45] isaacHagoel opened #188 "Dragging a small item over a large item makes the large item jump back and forth"
Example: https://svelte.dev/repl/bd22d39a1ece441281f4725c69ad7dcb?version=3.31.0

[2020-12-09 20:16] Florian-Schoenherr commented on #187
Testing around a bit, I did `console.log(node, node.children);` and tried some combinations of looping/using items/children.
I only found out that it may have to do with slots, because `node.children` = `[]` and if I understand correctly, node.children are just the html children?

[2020-12-10 04:02] #188 closed

[2020-12-12 05:53] isaacHagoel commented on #187
@Florian-Schoenherr yes, u understand correctly.
i also played a tiny bit (tried to change the loop) and it didn't help. i didn't dive super deep into the svelte source code to discover how it manages its slots.

[2020-12-12 09:17] Florian-Schoenherr commented on #187
@isaacHagoel btw, why did you decide to use an action instead of a component for dnd?
I know that actions are like "js-only" and you can decide for yourself which html-element you put it on, but other than that I know nothing. There is another lib with the component approach, but much less functionality.
I'm also asking because (don't quote me on this) I would like to contribute.

[2020-12-12 10:01] isaacHagoel commented on #187
@Florian-Schoenherr  I went for an action for several reasons:
1. **How clean, elegant and simple the resulting API was** (while still giving me, the library author almost unlimited power): No need for slot and strange slot props (probably my least favourite feature in all of svelte) , no need for multiple wrapper types (ex: one for the container and another for an element) or anything like that.

[2020-12-12 12:26] Florian-Schoenherr commented on #187
Portability does make much sense. I wonder how performance compares to the component approach (https://github.com/kyythane/svelte-reactive-dnd), though.
Also, this issue should make it possible to wrap it in a component, the REPL essentially does that.

[2020-12-12 20:13] isaacHagoel commented on #187
@Florian-Schoenherr i dont see any way in which performance can suffer because of choosing to implement as an action.
The Library you linked to uses slot props which i personally think is an anti pattern (breaks encapsulation)

[2020-12-12 22:19] isaacHagoel commented on #187
About the Repl doing this kind of wrapping. I don't think it is the case.
The wrapper component should not use double binding on the items (inner and
outer). It should probably be more similar to how the library in the link
does it.

On Sat, Dec 12, 2020, 23:26 Florian-Schoenherr <notifications@github.com>
wrote:

[2020-12-15 03:14] adamweaver opened #191 "cannot read property 'autoAriaDisabled' of undefined"
Hi Isaac,

My guess is that some globals aren't cleared when dndzone is destroyed; presumably since the library can't easily know that there aren't other dndzones mounted elsewhere. Or my guess could be wrong!

Adjusting the simple REPL example to add a show/hide toggle:

[code]

If you activate keyboard nav (e.g. with the spacebar), when the `<section>` is hidden (via the "toggle" button) and res

[2020-12-15 03:47] isaacHagoel commented on #191
@adamweaver I see why it happens. the dnd zone gets unregistered (removed from the global data structure) but the drop handler isn't removed because i didn't expect the rug to be pulled from underneath this way :)
What is the correct behaviour when the zone the item is in is removed mid drag?
I could just leave it there I guess (meaning it disappears with the zone). Is this acceptable?

[2020-12-15 04:39] adamweaver commented on #191
Hi Isaac, for my use case, the drop handler should be removed. But I presume you don't want to _always_ do that in case other use cases expect the item to still be available... I guess? Though to be honest I can't think why you'd want a mid-drag element to stick around when its old parent is binned.

[2020-12-15 04:41] isaacHagoel commented on #191
I'll think about it some more and aim at having it fixed before the end of the week.

[2020-12-15 04:46] adamweaver commented on #191
<img width="1280" alt="Screen Shot 2020-12-15 at 12 44 04 pm" src="https://user-images.githubusercontent.com/1251895/102172190-42858400-3ed3-11eb-9cce-6357a947816d.png">

Just to show why I was doing something wacky like pulling the rug away .... toggling the "drag-and-drop layout design" mode to "edit" mode destroys all dndzones to swap in visual editors. I can work-around by hiding the drag-n-dr

[2020-12-15 19:55] Florian-Schoenherr commented on #187
You're right, I should change that. I guess now we only need to check for empty `node.children`? Although it should not loop then? hmm

[2020-12-15 20:26] isaacHagoel commented on #187
I don't think any changes would be necessary if you wrap it similarly to
how the library does.
Otherwise, i don't think that simply checking for empty children will
solve the problem (you can try) because a discrepancy between the children
and the items breaks a key assumption that the library makes.

On Wed, Dec 16, 2020, 06:55 Florian-Schoenherr <notifications@github.com>
wrote:

[2020-12-16 01:44] #191 closed

[2020-12-16 01:47] isaacHagoel commented on #191
hi @adamweaver fixed in version 0.6.24. pls let me know if there is anything else i can assist with.

[2020-12-16 03:49] Florian-Schoenherr commented on #187
New [REPL](https://svelte.dev/repl/85b9d8afcedd43a8a594ae4c4cf979f5?version=3.29.7).
what did I miss?

Also, I thought this is using `items` with ids exactly because there could be discrepancies (although right now the problem seems to be something else, let's just focus on that)

[2020-12-16 05:48] isaacHagoel commented on #187
Hi,
Are you trying to create a generic list component that can accept an arbitrary list item?
If so, how about something like this (MyItem is the arbitrary list item)?
https://svelte.dev/repl/028674733f67409c94bd52995d5906f1?version=3.31.0

[2020-12-16 06:12] Florian-Schoenherr commented on #187
This could work for my usecase, I will test that.

[2020-12-16 06:17] isaacHagoel commented on #187
I made small improvements to it right now. please refresh.
maybe i will add it as an official example if it works for you.
in my opinion this is much nicer that the slot based approach (as you probably understand I find slot props to be a huge unintuitive mess 😸 )

[2020-12-16 07:18] Florian-Schoenherr commented on #187
Works quite well! We could close this, maybe after the official example.
I don't have any usecase in mind where someone would need slots for this anymore.

[2020-12-16 09:54] #187 closed

[2020-12-16 09:55] isaacHagoel commented on #187
I am glad it works. added to the README

[2020-12-18 17:00] craigkai opened #194 "TypeError: document.body is null"
Hello,

I am not sure this is a bug with svelte-dnd-action or me not doing things the 'svelte' way.

I have an existing application where I am looking to add svelte to part of the UI. I did this by importing the compiled JS from svelte and adding the following to `main.js`:

[code]

Where I am not grabbing `document.body` but instead a div by ID. When I add ` import {dndzone} from "svelte-dnd-acti

[2020-12-18 23:26] isaacHagoel commented on #194
Hi @craigkai,
This sounds like a legit usecase to me.
I tried to reproduce it locally but couldn't.
How can document.body be null regardless of how u initialise the Svelte component?

[2020-12-18 23:32] craigkai commented on #194
Ah that points me in the right direction, the actual code is the following:

[code]

So the bug actually seems to be around how I am trying to load svelte after the rest of the page loads

[2020-12-19 00:01] isaacHagoel commented on #194
@craigkai actually, seeing this made me realise the problem might be on my end.
i've created this branch: `194-init-aria-only-after-dom-content-loaded` with a fix.
can you try it out locally and let me know if it solves the issue for you?

[2020-12-19 00:29] craigkai commented on #194
That branch fixed the issue that I was seeing, thanks!

[2020-12-19 00:52] isaacHagoel commented on #194
Cool. I will release it later today.

On Sat, Dec 19, 2020, 11:30 Craig Kaiser <notifications@github.com> wrote:

[2020-12-19 02:19] #194 closed

[2020-12-19 02:34] #182 closed

[2020-12-19 02:37] isaacHagoel commented on #177
@weeblr I am closing this for now since it has been a long time since we last discussed this. Feel free to reopen if/when u'd like to resume.

[2020-12-19 02:37] #177 closed

[2020-12-19 02:38] isaacHagoel commented on #157
closing this for now. pls let me know if i can assist further.

[2020-12-19 02:38] #157 closed

[2020-12-19 04:09] #133 closed

[2020-12-21 02:01] isaacHagoel opened #199 "Recursive style copying breaks on conditional rendering (or bindings on dimensions)"
The change introduced in #130 breaks when there is conditional rendering within the item (or bindings on dimensions)
Example in [this REPL](https://svelte.dev/repl/5914f5679e6c45a0849aad8131f6b37e?version=3.31.0)

[2020-12-21 02:08] #199 closed

[2020-12-21 02:09] isaacHagoel commented on #130
reverted the fix in #200 because of #199
need to come up with a more general solution that accounts for these cases

[2020-12-23 03:44] isaacHagoel opened #201 "when dragged is outsize of all dnd zones show the placeholder in the origin zone in the origin index"
when dragged is outsize of all dnd zones show the placeholder in the origin zone in the origin index.
it indicates where the element is going to land if dropped.
consider whether this needs to be optional or the new default behaviour.

[2020-12-24 10:14] #201 closed

[2020-12-25 10:33] isaacHagoel commented on #130
After further investigation i realised the is no generic way to copy the styles recursively. Since rendering of the data items is not contolled by the library it could vary between dnd zones that the item can be dropped into or even within the same zone depending on dynamic state.
`transformDraggedElement` already provides a way for dealing even with the most complex caees and the workaround descr

[2020-12-30 04:02] ezfe opened #204 "Select Elements Preventing Dropping"
I have an html `<select>` element that's interfering with my drag-and-drop. What's the best way to resolve this?

Here is a REPL sample project (courtesy of @isaacHagoel) that demonstrates this issue. I'm able to reproduce it in Safari 14.0.3 and Firefox 85.0b4

https://svelte.dev/repl/f29ffe920bef4397be5156be9a831e9d?version=3.31.0

[2020-12-30 04:20] isaacHagoel commented on #204
Hi, it doesn't seem to reproduce for me. what am i doing wrong?
I am on Chrome on a Mac. Also, it would be the easiest if u could reproduce in the REPL.
https://user-images.githubusercontent.com/20507787/103329760-61c70880-4ab2-11eb-899b-b4629f6230a2.mov

[2020-12-30 22:57] ezfe commented on #204
@isaacHagoel I'm using Safari - and I just tried it in Firefox, where it also isn't being reproduced. I think it's just a Safari issue. I'll deal with this then, thanks!

[2020-12-31 00:05] bostondevin opened #205 "Can the height of the layout container be the max height of the contents?"
I'm using this in a drag/drop situation and the height of the layout container is always the default row height instead of the greatest height of the cumulative items in the matrix. Can this be adjusted to accommodate? That math makes my brain hurt to calculate it.

[2020-12-31 00:46] isaacHagoel commented on #205
Hi @bostondevin,
not sure i follow, could you pls create a REPL to demo the issue?

[2020-12-31 01:12] isaacHagoel commented on #204
I am able to reproduce it on Safari using the [REPL](https://svelte.dev/repl/f29ffe920bef4397be5156be9a831e9d?version=3). will look into it

[2020-12-31 01:26] ezfe commented on #204
I'm able to reproduce this in Firefox with your REPL example, but not my original example.

[2020-12-31 01:53] isaacHagoel commented on #204
It happens because on Safari (i didn't try ffx) clicking the select triggers a mousedown event but does not trigger a mouseup event (at the end of the click). The library thinks the the mouse is down and sees that the mouse moves which initiates a drag.

One solution is for the library to ignore select elements altogether (meaning the user won't be able to initiate a drag by clicking on it) but th

[2020-12-31 02:56] #204 closed

[2020-12-31 02:58] isaacHagoel commented on #204
fixed in version 0.7.1.
keyboard drag already ignores nested input element. makes sense for pointer (mouse/ touch) drag to do the same

[2020-12-31 03:45] ezfe commented on #204
Thanks! I did need a drag-and-drop solution in Svelte and this seemed like the best one. I'll let you know if I run into any issues when I update it.

[2020-12-31 08:05] thousandsofraccoons opened #207 "Consider marking your touch and wheel event listeners as `passive` to improve your page's scroll performance."
Consider marking your touch and wheel event listeners as `passive` to improve your page's scroll performance.
[https://web.dev/uses-passive-event-listeners/?utm_source=lighthouse&utm_medium=devtools](https://web.dev/uses-passive-event-listeners/?utm_source=lighthouse&utm_medium=devtools)

![image](https://user-images.githubusercontent.com/33694447/103400908-a32fd600-4afb-11eb-968f-bbaf25d975c7.png

[2020-12-31 08:10] isaacHagoel commented on #207
The reason they are not passive is to stop the page from scrolling when the user is just dragging the item around. You can try it out without (on a local copy). It's very awkward.

[2020-12-31 21:40] ezfe commented on #204
I can confirm this fixed my website as well - thanks for the quick fix

[2020-12-31 22:18] isaacHagoel commented on #204
cool. thx for letting me know.

On Fri, Jan 1, 2021 at 8:40 AM Ezekiel Elin <notifications@github.com>
wrote:

[2021-01-07 07:13] yjp20 opened #208 "Placing before end of flip animation results in unnatural transition"
When you place a drag and drop element before the flip animation is finished, then the transition looks rather unnatural. Do you have a work around for this problem?

I think maybe disabling flip animation for the shadow element might work, but I'm not sure if this is true and possible to apply via the library or if it's something that's better left in the hands of the user.

I'll borrow this exam

[2021-01-07 07:27] isaacHagoel commented on #208
not sure i 100% understand the issue. what do you mean by "unnatural"?

[2021-01-07 07:37] yjp20 commented on #208
![issue](https://user-images.githubusercontent.com/44457064/103864747-759fe980-5106-11eb-9f31-210b71dd6c79.gif)

The first time through I couldn't get it to work but it seems like there's an error the second time.

[2021-01-07 07:51] isaacHagoel commented on #208
Which error? When it snaps to place at the end?

[2021-01-07 08:00] yjp20 commented on #208
Right

[2021-01-07 08:19] isaacHagoel commented on #208
This is not the flip animation. It is about how the dropped item calculates
the index it needs to animate to. I will have a look when i have some time.

On Thu, Jan 7, 2021, 19:01 Young Jin Park <notifications@github.com> wrote:

[2021-01-07 08:54] chbert commented on #84
This would also be very helpful for using it in conjunction with tailwindcss (BTW: great library, thanks!)

[2021-01-07 09:38] isaacHagoel commented on #208
okay, found and fixed the issue. it had to do with the flip animation (indirectly). merging the fix soon

[2021-01-07 09:46] #208 closed

[2021-01-07 09:49] isaacHagoel commented on #208
@yjp20 this should be fixed in version 0.7.2. give it a shot

[2021-01-07 09:52] isaacHagoel commented on #207
closing for now. feel free to re-open/ engage in conversation. thx

[2021-01-07 09:52] #207 closed

[2021-01-07 09:53] isaacHagoel commented on #205
@bostondevin any updates on this or should i close it?

[2021-01-07 10:05] isaacHagoel commented on #84
@chbert any chance you create a demo REPL illustrating what you would like to be able to do?
i wanna to be sure Svelte's classes scoping wouldn't get in the way of something like what this issue requests.
Also need to remember that each dropzone could be a completely different component (that accepts similarly shaped data items).

[2021-01-07 10:17] chbert commented on #84
@isaacHagoel I see your points, very valid! I think the idea would basically be, to be able to use style such as border-primary to style an element, to avoid having to manually enter colour values for example. But you are right about the scoping issues that would involve...

[2021-01-07 10:19] chbert commented on #84
`dropTargetClasses={"border-primary"}`

[2021-01-07 10:24] isaacHagoel commented on #84
Where would the class be defined and how (global?)?

On Thu, Jan 7, 2021, 21:19 chbert <notifications@github.com> wrote:

[2021-01-08 05:53] yjp20 opened #211 "Unexpected movement on large items"
Demo:
https://svelte.dev/repl/dc83f9ba1a0a4c8794cffd558d7e213d?version=3.22.2

I've made the item 45 very large in comparison to the other elements. When you start dragging the large item, the bottom items unexpectedly rushes in, displacing the shadow element.

From what I can tell, this library uses the center of the current dragging element to determine the position. If the dragging element is m

[2021-01-08 07:53] isaacHagoel commented on #211
This library indeed uses the centre of the dragged element and checks whether it is inside an item to decided whether it needs to take its place (I actually took this idea from react-beautiful-dnd :)). after the item moves for the first time, it caches the location of the shadow element so that it gets "smarter" as you keep dragging the item around (meaning the item below might "rush" once per dra

[2021-01-08 09:21] yjp20 commented on #211
I do know that it's what react-beautiful-dnd said in their Medium post, but it seems like that's not *actually* the case. It's done the other way around for some reason.

I've extensively tested this, but it truly seems like instead of checking whether or not the center of the dragging element is in another element (as they say in their drag post), it checks whether or not any center is within the

[2021-01-08 09:31] isaacHagoel commented on #211
Interesting. I will give it a try. Thanks.

On Fri, Jan 8, 2021, 20:22 Young Jin Park <notifications@github.com> wrote:

[2021-01-08 12:19] isaacHagoel commented on #211
@yjp20 I had a few min so i gave it a quick try. it is not as simple as changing that one line (i also disabled the cache optimisation to make sure it doesn't get in the way).
As I was playing with it one important question came to my mind:
The centre of more than one of the underlying elements can be inside the dragged element at any given time, especially when the dragged element is big and can

[2021-01-08 12:43] binary-koan opened #212 "Delay before item can be dropped"
I tried out [the example in the REPL](https://svelte.dev/repl/e2ef044af75c4b16b424b8219fb31fd9?version=3.22.2) and was surprised to find that if I drag and drop an item quickly before the other objects have been rearranged, the item stays in the same place instead of being dropped into the new container. In order to move something you need to drag -> wait a second for the other objects to move ->

[2021-01-08 13:19] yjp20 commented on #212
I'm not the author, but I'm pretty sure this is because of the flipDuration. Because flip is handled by svelte internally, if you change the state during the flip animation the animation becomes unsmooth. So, the library refreshes in intervals longer than the flipduration to work around the problem.

Currently, you can either reduce the flipDuration or turn it off entirely.

[2021-01-08 13:22] yjp20 commented on #212
You have to set the flip duration to zero on all dropzones

[2021-01-08 14:30] binary-koan commented on #212
I tried that but got the same result - [see repl](https://svelte.dev/repl/7ce4bd861e1446adb03f98bd4438cc75?version=3.31.2) (top one is the demo code, second one has 0ms duration, third one has no flip animation at all - not sure if it makes a difference)

I can still reproduce the behaviour on all three of those examples. Finally got a gif of it -

Releasing too fast (item does not move):

![Jan-0

[2021-01-09 04:56] isaacHagoel commented on #212
The library samples the status of the dragged element in fixed intervals even if flip duration is zero.
In this specific case, I also think it is a feature and not a bug 😄
User interfaces are all about communicating back and forth with the user, and in this case if the user let go of the item super quickly, cancelling the operation makes a lot of sense to me.
Open for being convinced otherwise.

[2021-01-09 08:21] binary-koan commented on #212
I figured it out! For reference: In the above repl I'm not specifying the `type` on the drop zones, so the items are actually draggable between all three boards. And the observe interval (the delay I was seeing) depends on the *highest animation duration* out of all drop zones, i.e. when I removed the 300ms board from the page it no longer delayed dragging and dropping on the other two boards.

It

[2021-01-09 08:21] #212 closed

[2021-01-09 08:34] isaacHagoel commented on #212
@binary-koan cool! 100ms is (currently) the min interval and I'm glad it works out for you.
I misunderstood your original question. should have mentioned the max bit.  🤦‍♂️😄

[2021-01-09 09:18] isaacHagoel commented on #211
@yjp20 good news: I found an approach that seems promising based on some quick experiments. I will let u know when there it is ready (i will need to find roughly 2 hours to implement it properly and test).

[2021-01-09 15:18] binary-koan commented on #84
I'm also using Tailwind CSS (so classes are defined globally outside Svelte). I tried implementing this and it doesn't work with styles in the Svelte `<style>` section though ... Svelte considers the class to be unused and deletes the definition during compilation.

I worked around it by tracking a boolean `isDragging` like this:

[code]

It kinda works but it doesn't exactly match how the styles

[2021-01-09 22:00] isaacHagoel commented on #84
@binary-koan looks like the most common use case has to do with global classes (ex: tailwind).
this makes this quite easy to implement under a few assumptions (ex: that the class is not already on the dropzone before drag starts so it is safe to always remove it from the classList after drop).
maybe I can even name the option something like `dropTargetGlobalClasses` and take an array of strings.
m

[2021-01-10 07:50] chbert commented on #84
@isaacHagoel like this, right?
 https://svelte.dev/repl/3a80822546c642388d328ca79ca225b5?version=3.22.3

I think that would be great! Not sure if the array is a technical requirement on your side? Otherwise, one string would be okay as well, like this:
https://svelte.dev/repl/df10a8411edd4cb4b6b71827ae59d741?version=3.22.3

JFYI Tailwind also allows for variants like `hover:border-red-300` (not su

[2021-01-10 09:51] isaacHagoel commented on #84
@chbert yeah something like that.
The list is not a hard requirement on my end I just thought it might be nicer to be more explicit and also it plays nice with `el.classList.add(...dropTargetClasses)`.
I will try to get it done this week.

[2021-01-10 10:57] isaacHagoel commented on #211
@yjp20 if you have a chance give the branch "211-never-remove-shadow-element" a try. The MR is still WIP (needs some more testing).

[2021-01-10 11:10] yjp20 commented on #211
Sounds great! Thanks for all your work on this.

On Sun, Jan 10, 2021 at 7:58 PM Isaac Hagoel <notifications@github.com>
wrote:

[2021-01-12 16:22] khang-nd opened #214 "[Not an Issue] I shared your repo"
https://news.ycombinator.com/item?id=25743228

As a means of motivation, and you deserved more attention. Thank you for building this :)

[2021-01-12 18:55] isaacHagoel commented on #214
@khang-nd thanks. I appreciate it!!
It really boosted the number of stars.

[2021-01-12 18:55] #214 closed

[2021-01-12 21:03] #211 closed

[2021-01-12 21:09] isaacHagoel commented on #205
closing this for now. feel free to re-open with extra details/ REPL. thx.

[2021-01-12 21:09] #205 closed

[2021-01-12 21:44] isaacHagoel opened #215 "Crazy nesting example is broken"
https://svelte.dev/repl/fe8c9eca04f9417a94a8b6041df77139?version=3.31.2

[2021-01-12 21:49] isaacHagoel opened #216 "Keyboard dragging is broken on the REPL"
started throwing an error on the REPL. used to work before. Looks like it broke due to a change in the REPL itself

[2021-01-12 21:50] isaacHagoel opened #217 "Improve the big example with the board and consider adding a dedicated board example"

[2021-01-13 11:04] #84 closed

[2021-01-13 11:35] isaacHagoel opened #219 "apply dropTargetClasses when dragging via keyboard"

[2021-01-13 11:46] #219 closed

[2021-01-13 11:48] isaacHagoel commented on #84
this feature is available in version 0.8.1 and onwards. thanks everyone for the inputs

[2021-01-13 12:22] isaacHagoel commented on #216
this was fixed by #221 but the reader instructions and announcements still don't work in the REPL (see #134).
It looks like the REPL simply clears the body from everything the library adds and replaces it with its own stuff.
will need to dig deeper and/or find a workaround.

[2021-01-13 12:22] #216 closed

[2021-01-13 18:31] Florian-Schoenherr opened #223 "Event for getting current position"
I have implemented some dnd stuff myself and found that I really wish for a way to retrieve the current position while dragging, so that I can potentially reconfigure the dragged element to be `position: absolute;`. I know you're using translate3d, but that would work the same way. Maybe an event on _every_ movement would be overkill.
I also thought about a separate dropzone for whiteboard-like ab

[2021-01-13 18:32] Florian-Schoenherr commented on #215
Only really recently, I looked at it last week.

[2021-01-14 01:40] isaacHagoel commented on #223
Hi @Florian-Schoenherr,
Not sure i fully follow. Is this a feature request/ a question/ something else.
any of the above is fine, i just need some help so i can respond properly.

all of the events emitted by the library include the id of the dragged item (under info) which can be used to retrieve the index very easily. alternatively, it can be added to the info very easily if needed. no one has a

[2021-01-14 07:12] isaacHagoel commented on #215
it broke in 0.7.4. investigating

[2021-01-14 09:57] #215 closed

[2021-01-14 09:58] isaacHagoel commented on #215
I fixed the REPL. it broke because it was making an assumption that all of the ids in the list exist in the nodes data structure. 0.7.4 broke this assumption.

[2021-01-14 11:12] Florian-Schoenherr commented on #223
You probably know apps like diagrams.net/excalidraw/miro.com (although they differ in implementation). I want to use something like that, but also want to use your "sortable-list"-type dnd.
Let's say I have 3 cards, which I drag around with absolute positioning (like miro, ..).
Now I want to drag one card onto another and that's where your dndzone should kick in. If I then decide to drag one card

[2021-01-14 20:58] isaacHagoel commented on #223
this type of "whiteboard" drop zone makes different assumptions than a sortable dropzone.
For example, a sortable dropzones assumes elements can't overlap (the centre of the dragged element can never be over two elements at the same time). In a white board they can, which brings the stacking order into the equation (which element should be drawn on top of which etc.).
Keyboard interactions might a

[2021-01-14 21:54] Florian-Schoenherr commented on #223
That's the thing. I wouldn't want to re-invent the wheel (although I tried - but barely working).
It's fascinating how hard that stuff gets.

Stacking order is not needed in my usecase (although if there should potentially be a component that others can use, people would need it).
I think both are pretty different, the whole sorting stuff would be left out, for example. Maybe a second, separate ac

[2021-01-15 02:03] isaacHagoel opened #225 "tab-index on the origin dnd zone shouldn’t be -1 if none of the dnd zones is in focus"
tab-index on the origin dnd zone shouldn’t be -1 if none of the dnd zones is in focus.
currently it is and it prevents tabbing back to it once the user tabbed outside (especially if it is the only dnd zone)

[2021-01-15 04:29] #225 closed

[2021-01-15 10:33] isaacHagoel commented on #223
@Florian-Schoenherr
I played with it a bit and got a super primitive version going in this [REPL](https://svelte.dev/repl/aca85c7d33ee480cac63147b85987a72?version=3.31.2).
The whiteboard is the square on top and there is a normal list below.
If this is roughly what you are after (a polished version of this that is), the library can probably provide some extra data in its events that makes this eas

[2021-01-15 10:50] Florian-Schoenherr commented on #223
Wow, thank you! I made an implementation too, without the dndzone on whiteboard. I used TRIGGERS.DROPPED_OUTSIDE_OF_ANY. Gonna REPL when it's done.

[2021-01-15 13:34] Florian-Schoenherr commented on #223
[REPL](https://svelte.dev/repl/d06b20b3c0f64ca192ca8eb0188bc19f?version=3.31.2).
Only thing missing is the dragging of the container.. and code looks messy.
You can see my usecase a little better there, try dragging one out and then one onto the other.
More nesting is not neccesary, the container can be pretty dumb, it should only update `itemGroup.x`&`y`.
I tried some stuff but there was always s

[2021-01-15 17:32] rmcew opened #228 "setDebugMode naming inconsistency"
The README and typings identify the function as setDebug, but the name of the exported function is setDebugMode.

[2021-01-15 23:46] isaacHagoel commented on #228
@rmcew thanks for letting me know. fixing

[2021-01-15 23:47] #228 closed

[2021-01-16 02:07] isaacHagoel commented on #223
so u want to be able to put one item inside another...
the top level items (parents) are always movable on the "whiteboard" to wherever but the children need to be sortable within each parent?
in other words, the only thing missing in your example is the initial parent container being draggable to wherever, right?

[2021-01-16 08:16] Florian-Schoenherr commented on #223
Yes, if you have two or more items in a group, you should be able to move the group, too. I gave the .droppable a margin so that you can drag it's parent, in reality it would be more obvious. Using a dndzone for it doesn't work because it drags inside itself, into the inner dndzone (or something, it throws many errors).

[2021-01-16 08:22] isaacHagoel opened #230 "dropFromOthersDisabled zone makes items that are dropped inside disappear"
dropping an item above a zone that has dropFromOthersDisabled set to true makes the item disappear.
was introduced lately

[2021-01-16 09:15] #230 closed

[2021-01-16 21:17] isaacHagoel commented on #223
Nesting should work. Which errors were you getting?
From the user perspective what is this application doing?

On Sat, Jan 16, 2021, 19:16 Florian-Schoenherr <notifications@github.com>
wrote:

[2021-01-17 11:37] isaacHagoel commented on #223
@Florian-Schoenherr you might find [this conversation](https://github.com/isaacHagoel/svelte-dnd-action/pull/227#issuecomment-761789720) relevant.

[2021-01-17 12:58] Florian-Schoenherr commented on #223
[Errors REPL](https://svelte.dev/repl/a85ea803d82b4b9aa434a0028807d713?version=3.31.2)
`position: absolute` doesn't play nice with it. I could take some time to refine it, but I had another version which showed the same bugs before.

[2021-01-17 21:23] isaacHagoel commented on #223
I didn't look deeply yet but position:absolute shouldn't cause issues (my example of whiteboard had it) and nesting shouldn't either (ex: crazy nesting). what can cause issues is if dom elements (zones or children) and added, removed or rearranged without the data that is passed-in reflecting that.
if you have a chance please have a look at my proposal (i included a link above) and let me know if

[2021-01-17 22:22] Florian-Schoenherr commented on #223
Yeah, the inner consider/finalize is probably triggering when I drag it inside itself, that's my fault. Also I haven't added the position:absolute container dragging

[2021-01-23 02:24] isaacHagoel opened #233 "draggedOverIndex marks outsideOfAny as false on a disabled zone"

[2021-01-23 02:27] #233 closed

[2021-01-26 23:39] MTyson opened #235 "Cannot read property 'getBoundingClientRect' of undefined"
I'm getting this error when dropping inside the target zone.  It has something to do with me (server-side) loaded data (I'm inside of an await block).

Can you give me an idea where to look?

GREAT library. Thank you.

Uncaught TypeError: Cannot read property 'getBoundingClientRect' of undefined
    at getBoundingRectNoTransforms (intersection.js:10)
    at animateDraggedToFinalPosition (pointerAc

[2021-01-26 23:44] MTyson commented on #235
More detail:

[code]

...

[code]

(I assign entries to items as a troubleshooting attempt)

[2021-01-26 23:47] isaacHagoel commented on #235
what updates `showMinePromise`?
is the dndzone removed from the dom on drop somehow?

[2021-01-26 23:47] isaacHagoel commented on #235
and also Hi and thanks for reporting the issue 😄

[2021-01-26 23:51] MTyson commented on #235
If I do this (use entries directly):

[code]

I get:

action.js:58 dndzone will ignore unknown options
Uncaught (in promise) Error: no 'items' key provided to dndzone
    at validateOptions (action.js:61)
    at dndzone$2 (action.js:26)
    at Object.mount [as m] (TopicDetail.svelte:130)
    at update (index.mjs:1076)
    at index.mjs:1090

ShowMinePromise:
[code]

[2021-01-27 00:02] isaacHagoel commented on #235
about the first error. it should probably be:
[code]

what triggers `fetchAnswers` besides the initial load?

[2021-01-27 00:04] MTyson commented on #235
Only the initial load right now!

[2021-01-27 00:07] MTyson commented on #235
Only the initial load right now!

[2021-01-27 00:10] MTyson commented on #235
When I use:

{{items: entries, flipDurationMs}}

I get no error, but the dropped item vanishes from the dom.  (If I dnd that last item, I then get the undefined error)

[2021-01-27 00:15] isaacHagoel commented on #235
will u be able to create a REPL that reproduces the issue so I can debug hands on?

[2021-01-27 00:16] MTyson commented on #235
When I use:

{{items: entries, flipDurationMs}}

I get no error, but the dropped item vanishes from the dom.  (If I dnd that last item, I then get the undefined error)

[2021-01-27 00:17] MTyson commented on #235
hm, I'm building in sapper locally so my api is local.

[2021-01-27 00:20] MTyson commented on #235
OK, got it working with your suggestion:

[code]

Thanks again, really looking forward to using this project.

[2021-01-27 00:32] #235 closed

[2021-01-27 00:43] isaacHagoel commented on #235
hi,
what was the issue though? how did you fix it?

On Wed, Jan 27, 2021 at 11:32 AM Matt Tyson <notifications@github.com>
wrote:

[2021-01-27 00:55] MTyson commented on #235
I think I was mixing up the items and entries variable... I need to understand it better.

[2021-01-27 01:09] isaacHagoel commented on #235
cool. pls let me know if it is something that requires my attention.

On Wed, Jan 27, 2021 at 11:55 AM Matt Tyson <notifications@github.com>
wrote:

[2021-01-27 19:40] MTyson commented on #235
Working like a charm now, thank you!

It would be cool to have an example of using the list with a backend fetch/{#await} block usage. Possibly including updating the backend based on dnd.

I'll try to get to do that.

Rock on.

[2021-01-27 20:04] beebase commented on #235
An async example is exactly what I am for . (TIA)  👍

[2021-01-27 20:15] isaacHagoel commented on #235
Happy to make one (can get to it today or tomorrow i think). Do you mind creating a new issue for it so i don't forget?

[2021-01-27 20:45] beebase commented on #235
Thank you. Very kind of you.
Meanwhile I figured it out, going through the code snippets in this thread.
I will post a working async snippet here for others.

[2021-01-27 21:19] isaacHagoel commented on #235
cool! ideally please make a REPL with a simple JS file that mocks the
server (returns promises that resolve after a timeout from its get and set
methods) so I can add it to the official examples.
if, i am happy to do it as i said above.

On Thu, Jan 28, 2021 at 7:46 AM Maarten Berkenbosch <
notifications@github.com> wrote:

[2021-01-27 22:36] beebase commented on #235
Here's an example with a simulated server call in one file (I'm new to repl, couldn't figure out export/import)
I've also added a "sort" field that updates all records after a drag/drop.

Anyway here's the link. Feel free to edit/add to the examples.
https://svelte.dev/repl/0ce664fdfb0943d8b6e80b041fafbdc0?version=3.32.0

BTW: thanks for sharing this great package

[2021-01-28 10:55] isaacHagoel commented on #235
Hi @beebase
Thanks for the example.
I've also made one. Please see [this REPL](https://svelte.dev/repl/964fdac31cb9496da9ded35002300abb?version=3.32.0).
I made it a bit more sophisticated, with optimistic updates and rollback.
Please let me know if it meets the usecase or falls short.
If all good, I will add the link to the README
cc @MTyson

[2021-01-28 11:09] beebase commented on #235
That is a very clear and useful example. Thanks!  :-)

[2021-01-28 20:28] isaacHagoel opened #236 "Add an example with an async mock server"

[2021-01-28 20:43] #236 closed

[2021-01-28 20:46] isaacHagoel commented on #235
cool. added it to the README (with tiny tweaks)

[2021-01-29 23:31] isaacHagoel commented on #217
done

[2021-01-29 23:31] #217 closed

[2021-01-31 01:11] ezfe opened #238 "undefined is not an object (evaluating 'currentMousePosition.x')"
Hi,

I've seen the following error after performing certain drag-and-drop actions then reloading the page (which rebuilds the internal data structure from `localStorage` on my site):

[code]

This causes the site following the drag-and-drop zone to not appear due to the error not being caught properly. I've gotten reports from user this is happening as well.

The specific line of code in question

[2021-01-31 01:34] isaacHagoel commented on #238
Hi,
More details are needed. Can you paste the code that loads the state? Does it hit the error when loading or while dragging/dropping?

Are you using the most recent version of the library?
If not, try to upgade
If yes, try a version older than 0.7.0 and let me know if it still happens.

[2021-01-31 02:01] ezfe commented on #238
I'll work on getting you these details - in the mean time, here are some instructions for reproducing it if you're curious:

Navigate to https://deploy-preview-297--minecraft-json.netlify.app and import the following text:

[code]

Drag the "c" row into the middle area (separate drag target) - it will land as expected. Then, reload the page – the bottom of the site should disappear. If you press t

[2021-01-31 02:05] ezfe commented on #238
I'm currently using version 0.7.1. I just tried 0.8.8 and 0.6.30 and the issue remains in both

[2021-01-31 02:09] ezfe commented on #238
I've got an amendment to the reproduction steps: the first error actually happens after dragging the "c" row into the middle area – even though the dnd items are still interact-able, this is when the site initial breaks. Subsequent reloads simply make this issue visible due to not rendering past the dnd area.

[2021-01-31 02:21] ezfe commented on #238
I'm still sorting through my code some more trying to figure out exactly at what point the inconsistency occurs. I wouldn't be surprised if there's an error on my part - but still odd that issue is surfacing in this library

[2021-01-31 02:28] ezfe commented on #238
I believe I have identified the issue – I can mitigate it, but it doesn't appear to be my fault, at least not at first:

After the initial error occurs, the dnd metadata gets saved to localStorage, and is loaded back again. This interferes with the dnd library on subsequent runs. Here's an example of the localStorage value for the item list after an error has occurred:

[code]

[2021-01-31 03:13] isaacHagoel commented on #238
looks like you are persisting the shadow items.
i am not sure what is the timing in which you persist (why not on drop?) but can you try to filter the shadow items out?
you can do it by importing `SHADOW_ITEM_MARKER_PROPERTY_NAME` from the library and then filtering using it:
`items.filter(item => !item[SHADOW_ITEM_MARKER_PROPERTY_NAME])`

[2021-01-31 13:18] ezfe commented on #238
Ah, I had just gone off the example in the read me which shows the shadow items being persisted. I'll make that change to filter them out 👍🏻

[2021-01-31 19:26] isaacHagoel commented on #238
Which example did you use?
Maybe i need to add one with local storage...

On Mon, Feb 1, 2021, 00:19 Ezekiel Elin <notifications@github.com> wrote:

[2021-01-31 20:19] ezfe commented on #238
Yeah, one with localStorage would be cool - but there's still a separate issue causing all this. I just got the following console error after a lot of poking, which is a new one:

[code]

Specifically, line 255:

https://github.com/isaacHagoel/svelte-dnd-action/blob/59d47788a6e12fa2fe9595513572df81f098dcab/src/pointerAction.js#L246-L263

I've made some changes including filtering out ghost items w

[2021-01-31 20:20] ezfe commented on #238
To be clear here, I do understand it's highly likely I'm doing something wacky causing this - but not sure what it is. Maybe it's the multi-drop zones, but I didn't think they had to be handled specially.

[2021-01-31 20:28] ezfe commented on #238
I made more adjustments to prevent what could have been my interference with the item IDs – I'm still continuing to get the currentMousePosition.x error immediately after dropping an item.

[2021-01-31 20:29] ezfe commented on #238
https://deploy-preview-297--minecraft-json.netlify.app/ has the changes I've been making - still the same premise of dragging between the two drop zones

[2021-01-31 20:44] isaacHagoel commented on #238
Most likely your code breaks one of the library's assumptions. Can you
paste your consider and finalize handlers here?

From my end i could probably improve the error messages in such cases

On Mon, Feb 1, 2021, 07:29 Ezekiel Elin <notifications@github.com> wrote:

[2021-01-31 21:47] ezfe commented on #238
Here they are:

https://github.com/ezfe/tellraw/blob/style-blocks/src/components/SnippetCollection.svelte#L148-L156

`updateSnippets` will propagate the new value up as a `prop` where it'll be eventually stored in `localStorage` - but since I've figured out why it used to persist being broken over reload I suspect that's not very consequential.

`loadCurrentVersionState` is in charge of re-typing

[2021-01-31 21:57] isaacHagoel commented on #238
I suggest that in the `consider` handler you only update the local copy.
`snippets = e.detail.items`

`consider` deals with ephemeral states that u don't want to ever persist.
This will also remove the need to filter anything out.

On Mon, Feb 1, 2021 at 8:47 AM Ezekiel Elin <notifications@github.com>
wrote:

[2021-01-31 22:02] ezfe commented on #238
My persistence uses a Svelte store and subscribes to changes to write them to localStorage (see here: https://github.com/ezfe/tellraw/blob/style-blocks/src/persistence/store_builder.ts#L6-L14).

If I remove the `store.subscribe` part of this code, then it becomes just a straight usage of Svelte store, but the issues persists. I don't think the localStorage persistence is playing a part in the prob

[2021-01-31 22:14] isaacHagoel commented on #238
i mean literally, in `consider` do:
`snippets = e.detail.item`
Don't worry about stores or anything. just update the local state.
There is no way to restore to an ephemeral state because post restore the
dragged element won't exist and the shadow items will make no sense.

On Mon, Feb 1, 2021 at 9:03 AM Ezekiel Elin <notifications@github.com>
wrote:

[2021-01-31 22:23] ezfe commented on #238
Right right, but `snippets` is an `export let` or property, not an internal state variable to this Svelte component - so it should be effectively the same right?

[2021-01-31 23:30] isaacHagoel commented on #238
it being an `export let` doesn't prevent you from updating it directly from
within the component (which will not affect anything on the outside, which
is exactly what we want for the `consider` states).
on `finalize` it will be updated from the outside (through the prop)

On Mon, Feb 1, 2021 at 9:23 AM Ezekiel Elin <notifications@github.com>
wrote:

[2021-01-31 23:40] ezfe commented on #238
Ah, my bad - you can probably see my React background here 😛 - I'll give that a go

[2021-02-02 04:08] ezfe commented on #238
https://user-images.githubusercontent.com/1449259/106550911-186b3e00-64e2-11eb-981b-6b38d32bd36b.mov

I made the recommended change - new error! This is all committed to the same locations linked above, I changed the consider function to just set the variable, and I can observe it not appearing in the other parts of the program until I drop the item. Now however I'm getting undefined items in the

[2021-02-02 05:37] isaacHagoel commented on #238
mmm... so other things are supposed to be updated when a consider event takes place? why? consider is just a temporary, unstable state...

[2021-02-02 15:53] ezfe commented on #238
My program is a list of text snippets that's "compiled" to a command one runs in Minecraft to create formatted text. This happens live whenever a change is made anywhere in the text snippet list. Since I changed consider on your recommendation this is no longer the case, it does **not** check for changes to the temporary snippet list.

[2021-02-03 01:47] rmcew opened #239 "Keyboard behavior should mimic pointer behavior"
The finalize event is dispatched when dragging by tabbing / arrowing through dnd zones; the consider event is never used. In order to mimic pointer behavior, the consider event should be dispatched until an item is placed.

[2021-02-03 02:15] isaacHagoel commented on #239
Currently the item is placed after every keyboard action. it is intentional.
It means that keyboard draggin always leaves the system in a "stable"
state. From the user perspective it is the same number of operations.
Making trigger consider events requires a more complicated implementation
and pointer/keyboard action to actively work to prevent conflicts (ex: use
drags with the mouse while in "key

[2021-02-03 02:35] isaacHagoel commented on #238
I really want to help but i don't have the bandwidth to dive into your codebase and fully understand it.
from the library perspective, consider includes all sorts of placeholder items that by definition cannot be persisted. There is an example with persisting to a server and the README states that too (I can improve if unclear).
The error messages should probably be improved as well.

I see two op

[2021-02-03 02:57] ezfe commented on #238
I totally understand - you can close this issue for now if you'd like, but I'll work to put together a REPL over the next few days (hopefully). Thanks for being so patient so far.

If I can't get a REPL example to reproduce it then I'd be down to go over the code more in depth but I don't want to spend your time unnecessarily with something that might just be my wild code.

[2021-02-03 03:08] isaacHagoel commented on #238
i'll leave the issue open. no worries. i'm happy to help and maybe this
will uncover some library issue

On Wed, Feb 3, 2021 at 1:58 PM Ezekiel Elin <notifications@github.com>
wrote:

[2021-02-04 18:14] danny-andrews opened #240 "Custom elements with disconnectedCallback error"
I have a drag item which contains a custom element ([sl-button-group](https://shoelace.style/components/button-group) to be specific) and when I start dragging, it emits an error when running its disconnect logic.

**Error**
[code]

**Code**
[code]

It seems that by the time this callback is fired, svelte-dnd-action has already removed its corresponding node from the DOM, causing the reference err

[2021-02-04 19:05] rmcew commented on #239
Could we not just check if the user is in "keyboard dragging" mode each time a user starts a mouse drag? And if so, cancel keyboard dragging mode? That way the consider and finalize events are a bit less dependent on what type of drag event it is?

I could try to work up a PR for you to look at if that would help. Let me know! I really like the library

[2021-02-04 19:26] isaacHagoel commented on #239
There are definitely things that can be done (i think it will be more than
that). The question is what is the benefit of doing that. What are you
trying to achieve?
I appreciate your willingness to help.

On Fri, Feb 5, 2021, 06:05 rmcew <notifications@github.com> wrote:

[2021-02-04 19:30] isaacHagoel commented on #240
Interesting. I'm happy to take a look.
Do you mind creating a small example that reproduces it in the REPL ?

On Fri, Feb 5, 2021, 05:14 Danny Andrews <notifications@github.com> wrote:

[2021-02-04 19:36] rmcew commented on #239
The workaround you mentioned would work, but it feels awkward to me. I, as the user of the library, have to know that keyboard drags are innately treated differently than mouse drags, and it makes my Consider and Finalize functions much more complicated than they need to be. I have to watch for keyboard events in my Finalize function, then run them through my consider logic. Then I have to watch f

[2021-02-04 19:44] isaacHagoel commented on #239
Again, the question is why do you have to do any of that in your code? What
kind of feature are you trying to provide to your users?

On Fri, Feb 5, 2021, 06:36 rmcew <notifications@github.com> wrote:

[2021-02-04 19:49] rmcew commented on #239
If I have any piece of code that is specific to a finalize event, for instance a CRUD, then I need to be able to know with certainty when a user is finished placing an item.

[2021-02-04 20:02] isaacHagoel commented on #239
Would you also
 like the user to be able to cancel the keyboard drag and move the item to
its original location?
We can try to create an example for such handlers in the REPL to see how
bad it is...

On Fri, Feb 5, 2021, 06:50 rmcew <notifications@github.com> wrote:

[2021-02-04 20:13] rmcew commented on #239
That's a separate and possibly more challenging issue, but yeah on first thought I think it would probably make sense to be able to cancel / revert the keyboard drag.

[2021-02-04 20:25] isaacHagoel commented on #239
It would also require modifying the messeges to the screen reader
(supported)
If you don't support cancel you should persist every keyboard move i think.
Anyhow, let's try it out in the REPL and see what we end up with before
considering a big breaking change to the library.

On Fri, Feb 5, 2021, 07:13 rmcew <notifications@github.com> wrote:

[2021-02-04 21:56] danny-andrews commented on #240
Looking into this further, I think it may be a limitation with svelte actions itself. I'm investigating further. 🧐

[2021-02-04 22:05] isaacHagoel commented on #240
Cool. Let me know. Even if it is, there might be a workaround

On Fri, Feb 5, 2021, 08:56 Danny Andrews <notifications@github.com> wrote:

[2021-02-04 22:37] printfhere opened #241 "Cannot destructure property 'items' of 'dzToConfig.get(...)' as it is undefined."
Hey,

I have a small issue when trying to create a DnD TreeView with svelte-dnd-action.

Here is the REPL: https://svelte.dev/repl/a6b386d252dd42ebbbc416134c65b581?version=3.32.1

It seems to work but in the console I have an error when trying to move a folder:

Uncaught TypeError: Cannot destructure property 'items' of 'dzToConfig.get(...)' as it is undefined.

Did I do something wrong in my code

[2021-02-05 01:49] isaacHagoel commented on #241
hi,
the problem is the placeholder item that gets added for basically one frame on drag start and has an id that is not in your data structure (because the library allocates a temp id and then replaces it with the real id right after).
this fixes it but you probably want to make it nicer by checking against the original ids  :)
You can see how it is done in the "Crazy nesting" example in the READM

[2021-02-05 03:16] printfhere commented on #241
Hey! It took me a while to understand what was going on but I now have a better understanding of the situation. I didn't want to use the same structure as you did for the tree but I used the same idea and passed a list of all the ids in my tree to be checked.

Here is the result, may this help others: https://svelte.dev/repl/287a74d81da24f5fadf3364dea125b1c?version=3.32.1

I close the issue, thank

[2021-02-05 03:17] #241 closed

[2021-02-05 10:07] isaacHagoel commented on #241
thanks. do you think the library should export the temp id it uses so it is easier to filter the temp item out?

[2021-02-05 11:12] printfhere commented on #241
Yes I think that's a good idea, I wanted to filter the shadow placeholder on its name but thought that if it came to change it would not work. However if it was exported, one could easily filter it and code would be cleaner.

[2021-02-05 11:33] isaacHagoel opened #243 "export the id of the temporary shadow item so it can be easily filtered out"
this is a followup of #241

[2021-02-05 19:44] rmcew commented on #239
https://svelte.dev/repl/76b3d2249a2440819de7c0b0828ed734?version=3.32.1

Here's a basic example, modified from one of the main examples in the repo. Lines 11 and 17 in Board.svelte are handling the same use case. They're both saying "ok the user is done with the drag, lets save it off", but one has to happen in the consider and the other in the finalize. Seems to me the whole purpose of the finali

[2021-02-05 21:03] isaacHagoel commented on #239
refactored it to remove duplicated code and encapsulate the "save" decision.
https://svelte.dev/repl/e78ca112f2c04a5b943a1a6161617da0?version=3.32.1

i think it looks okay.  this example is not complete though. what should
happen when the user tabs out of the list after moving an item with the
keyboard but without ever exiting dragging-mode?

[2021-02-05 21:08] danny-andrews commented on #240
Here's a reproduction URL: https://svelte.dev/repl/8435ccce66394a60b228fa49dcbbca57?version=3.32.1.

[2021-02-05 21:09] danny-andrews commented on #240
It should be noted that if you use keyboard shortcuts to move stuff around, this error does not occur. It only happens when initiating a drag with the mouse.

[2021-02-05 22:07] isaacHagoel commented on #240
it doesn't reproduce with a simple custom element.
https://svelte.dev/repl/09ffc22f972f46dca55add714d929401?version=3.32.1

I haven't looked at the source code of the library yet to see what it's doing different than my example.

[2021-02-05 22:14] danny-andrews commented on #240
I think it's something to do with this library in particular. It uses stencil which does some wonky async stuff. I've had a few issues with it already. I'm digging into it with that library's author. I doubt there's anything that needs changed on your end. Closing for now.

[2021-02-05 22:14] #240 closed

[2021-02-05 22:15] isaacHagoel commented on #240
You closed it as I was writing a similar comment 😄
the original comment below. pls let me know if I can help further.

looks like they use stencil. I think the ref on the child div in [this line](https://github.com/shoelace-style/shoelace/blob/5283b5a8086f71212743a87f5f032f9673d34e85/src/components/button-group/button-group.tsx#L50) gets confused.
[code]

[2021-02-05 22:21] danny-andrews commented on #240
I think you're exactly right. I'm running into a similar issue when trying to call a method on one of the shoelace components in `onMount` but it's throwing an error because a ref is undefined. Hopefully I'll get to the bottom of it. Thanks anyway for the help.

[2021-02-07 18:51] MaxJW opened #246 "Reload items within 'use:dndzone' when changing items listed below"
This is possibly already a feature but I'm not sure how to implement it! I have a list of todos that are filtered when a user selects a different project (causing a different set of items to appear).

Is there a way to "reload" the dndzone with the new items listed in the div?

[2021-02-07 19:04] isaacHagoel commented on #246
Hi,
Not sure i'm following. Can u pls create a REPL to illustrate?

On Mon, Feb 8, 2021, 05:51 Max Wilson <notifications@github.com> wrote:

[2021-02-07 19:09] MaxJW commented on #246
Hi,
Sorry, wasn't too sure how to explain it! I have the project on my website here if this helps: https://maxwilson.co.uk/Carrotodo/
You'll see if you create a new project (side panel on the right), create some ToDos (the list in the center) and try to move them around, it won't play nice. If you refresh though it will work fine. Hopefully that makes sense 😅

Appreciate the fast response!
Thanks,

[2021-02-07 19:10] MaxJW commented on #246
Actually this might be a problem on my end honestly, when not in the first project, moving any ToDo causes it to become blank, not sure what the issue might be. Code is also available here if necessary! https://github.com/MaxJW/Carrotodo

[2021-02-07 22:05] isaacHagoel commented on #246
mmm... it seems okay to me. i create a project. clicked on it. created tasks. dragged them around to resort them within the list. marked as done. dragged again to resort. all worked with no refresh. what am i doing wrong?
would u like to add a screen capture (pls include the console as well)?

[2021-02-07 22:28] MaxJW commented on #246
Sorry I did a bit of tweaking, the reason it wasn't working was I had an if statement with my {#each} to hide items from the array, but in my handler I was simply doing "array = e.detail.items", which obviously removed all of the other items in the array. My bad, sorry!

[2021-02-07 22:30] isaacHagoel commented on #246
oh, cool. so all good?

[2021-02-07 22:31] MaxJW commented on #246
All good, thank you so much for the quick responses and help though, really great library you have here 😁

[2021-02-07 22:31] #246 closed

[2021-02-08 15:12] techniq opened #247 "Pointer drag and drop issue with expanded item"
In my interface, I have an expansion panel component that can be expanded/collapsed that I am now using `svelte-dnd-action` to reorder.

If the panel not expanded, dnd works great, but as soon as I try to drag a panel that is open, it disappears (either immediate when dragging, or after being dropped):

https://user-images.githubusercontent.com/177476/107232425-62c35200-69ef-11eb-9719-b93c4c5e7056

[2021-02-08 18:22] isaacHagoel commented on #247
Hi,
Regarding losing internal state, there is an example with maintaining internal scroll position in an item. The gist is that the library and svelte (when rerendering) treat the item data as the element in the items list you pass in. Any data that needs to be passed around needs to be there. In other words, move isExpanded into the items array.

About the actual issue. I will need to see your co

[2021-02-08 19:43] techniq commented on #247
@isaacHagoel Thanks for the info.  Let me dig in a little more tonight and see if I can reproduce it in the REPL.

One curiosity, the issue is not present (and state maintained) when using the keyboard to move items.  I assume this is handled differently intentionally?

[2021-02-09 04:17] techniq commented on #247
@isaacHagoel Here is a [REPL](https://svelte.dev/repl/f98f4b3712f2429881f51ec7fdeb7ef4?version=3.32.2) reproducing the issue.  Click on a panel to open it and attempt to drag it.

[2021-02-09 05:55] isaacHagoel commented on #247
i took a quick look. looks like the consider events keep firing for a bit and have the correct list of items until they don't.  i eliminated the option that it has to do with the expanding feature because locking the items to their extended mode doesn't solve it.
It most likely has to do with the use of slots and slot props.
can you please make a version of this that inlines the extensible part wi

[2021-02-09 06:07] isaacHagoel commented on #247
(cont.)
actually, now that i recall there were issues in the past when using slots. that was because Svelte assume it has full control and authority over the slotted content and removes or adds dom elements to it as it pleases.
the solution is to build the higher order component in a different way that avoids slots and slot props.
see https://svelte.dev/repl/028674733f67409c94bd52995d5906f1?versio

[2021-02-09 12:40] techniq commented on #247
@isaacHagoel Thanks for investigating.  If slots can not be supported, I do not believe I can use a  higher order component in this situation as I need full DOM flexibility.  WIth that said, I did remove all the slots and reactive properties and believe I have found the root issue... if I remove `transition:slide` from the panel's content the main issue goes away:

![image](https://user-images.git

[2021-02-09 12:53] techniq commented on #247
A few additional thoughts:
I don't assume it would be possible to use `display:none` or similar for the dragged item's original node while it's clone is being dragging and then reposition it after the drop (so the node isn't truly destroyed).  I know this isn't possible when dragging/dropping between lists, but it would be nice to maintain the state.

Another thought is if there is anyway to acces

[2021-02-09 19:06] isaacHagoel commented on #247
I am glad it is not the slots. Sorry for sending you in the wrong direction
and for jumping into conclusions.
Svelte transitions (specifically "out") are a known incompatibility. I
somehow missed that it was being used.

About internal state, why can't you add `isExpanded` to the `items` array
instead of having it as internal state in this case?

svelte-dnd-action currently only deals with data an

[2021-02-09 19:21] techniq commented on #247
You can control the `isExpanded` state externally (utilzing `bind:open{...}`, but it's not required so there is no guarantee it is, but I can look into doing that and see how it works out.

Any thoughts of not destroying the element (and just doing `display: none` or similar) when moving within the same list (similar to keyboard)?

[2021-02-09 20:12] techniq commented on #247
Looks like [SortableJS](https://sortablejs.github.io/Sortable/) works this way, and I was able to setup a quick [REPL](https://svelte.dev/repl/bb527bb8a2f849e19cd5956fc76bb668?version=3.32.2) that leverages slots and transitions and doesn't loose the internal state.  I need to kick it around a little more but appears to handle all my needs thus far.

Thanks again for your time investigating this.

[2021-02-09 20:12] #247 closed

[2021-02-09 20:47] isaacHagoel commented on #247
Good luck!
This library seems to use the native drag and drop api which i was actively
trying to avoid :)
I think your internal state will still not persist if svelte re renders the
component for any reason.
Let me know if i can be of further assistance.

On Wed, Feb 10, 2021, 07:12 Sean Lynch <notifications@github.com> wrote:

[2021-02-11 10:12] fbinz opened #248 "Dragging should consider mouse position instead of element center"
As it is now, it seems that the center of a dragged element is considered when calculating its "wouldBeIndex" inside a container.
However, when you compare that behavior to other implementations (esp. Trello), they use the current mouse position to decide where the dragged element should appear in the container. I find this much more intuitive.

Would it be possible to include this behavior in sve

[2021-02-11 10:32] isaacHagoel commented on #248
There are strong drawbacks to using the mouse position. There is a blog
post from the author of react-beautiful-dnd explaining some.
With that said, i agree that in some cases, it is better.
There is a feature in discussion (in one of the pending PRs), which would
basically be a new option that makes the dragged element position itself
such that its center and is on the mouse pointer on drag start

[2021-02-11 11:24] fbinz commented on #248
(Just for reference, I guess you are referring to this blog post: [Link](https://medium.com/@alexandereardon/rethinking-drag-and-drop-d9f5770b4e6b)/Knowing when to move)

Now to the question:
Thinking about it more, I guess it might depend on the use case.

So, I currently want to implement an app with a trello-like board interface. Starting from your example, I got pretty good results already, bu

[2021-02-11 21:11] isaacHagoel commented on #248
Hi,
thanks for taking the time to take the screen captures.
1. what you are asking for was the original behaviour of the library (u can try an older version), but there were a bunch of issues with it, for example #211 . You can try it yourself by downgrading the lib version to <0.7.4. The current implementation behaves predictably and consistently - the center of the item needs to be above where t

[2021-02-12 09:10] isaacHagoel opened #249 "A new option - dragged element should position its center on the mouse cursor on drag start"
- add details

[2021-02-12 09:31] isaacHagoel commented on #248
please try out the following branch: `249-dragged-jump-to-cursor-on-start` to see how it feels when the dragged element positions itself on the cursor. Currently (at the time of writing this) in this branch it always does it. Still need to make it optional.
See also #250

[2021-02-12 09:59] fbinz commented on #248
Hi, so I looked at it some more.

Note: Just saw your comment regarding the new branch and tried it. It's definitely nicer for some use-cases, but doesn't solve the "issue". Just as a side note, I think your library is quite awesome and just want to make it even better. :)

Regarding 1:
This is closer to the way that I want the list items to behave, but not quite there. On further investigation, I

[2021-02-12 10:30] isaacHagoel commented on #248
Hi,
1. If you come up with a solution you think is better, please do share.
2. Trello can make many assumptions that this library can't and doesn't want to make. For example: the layout of each column (vertical list) and the layout of the columns relative to one another.
The library does have a "proximity based" "would be index" detection, but it doesn't apply it in cases like this. We could add s

[2021-02-14 10:18] isaacHagoel commented on #239
@rmcew closing for now. feel free to reopen if u have further thoughts on this.

[2021-02-14 10:18] #239 closed

[2021-02-14 12:31] geovie opened #251 "Re-usable drag handle example"
Hey,
I've created a somewhat more re-usable drag handle example based on the example from the readme:
[REPL](https://svelte.dev/repl/397a96b791af41d7978331ad63254bc0?version=3.24.1)

The usage is simple:
[code]

[2021-02-15 16:50] MTyson commented on #235
Just seeing this thread... awesome work guys, thank you!!
The dnd is very stable in our app. Awesome.

[2021-02-18 12:59] ezfe commented on #238
Update: I've started the process of building a small proof-of-concept. I've chosen to simplify my project rather than rebuilding a new one, so that if it's in my code it doesn't get lost. I've removed about 2k lines of code so far and will let you know when I'm done.

[2021-02-19 15:21] mataslib commented on #248
Hello, first of all, thanks for this amazing easy to use library.

Problem I see with center position is, that there are "edge" cases when dnd become "useless". These are literaly "edge", because they caused by computer screen edge, which won't let mouse any further. This happens when you have zone positioned at top and there is tall item in zone. Please, see gif bellow:

<details>
  <summary>See

[2021-02-19 19:18] isaacHagoel commented on #248
@mataslib why wouldn't the suggested change (elemnt positions its center on the cursor) solve it?

[2021-02-19 20:24] mataslib commented on #248
@isaacHagoel I just tested it and id does solve it, thanks. However, it feels kind of unnatural  (In my opinion), when item is big and there's handle at top right corner. You start dragging by handle, but item morphs to center, so you're not dragging with handle anymore.

I looked at react-beatiful-dnd how it behaves (since you've mentioned it), they apparently use center too, but center of target

[2021-02-19 20:49] isaacHagoel commented on #248
If this feature is added it will be activated using an option. It is not
suitable for the drag handles usecase.
There has to be one point on the dragged element that is checked. It cannot
be on the item below because that allows for ambiguity. For example, a
large item can be above the centers of multipe items below it.

On Sat, Feb 20, 2021, 07:25 mataslib <notifications@github.com> wrote:

[2021-02-21 04:55] ezfe commented on #238
@isaacHagoel Hey again, I've finished tearing apart my app and currently have it down from 2600 lines of code and 72 files to 416 lines of code and 15 files. It still shows the same issues and is much easier to reproduce and there's much less unrelated stuff going on. This includes a full removal of all local storage/stores.

My thought is you could peruse it and see if you can figure out what's g

[2021-02-26 02:35] ezfe commented on #238
Hi - no worries about the delay, I understand you're basically giving me free tech support here.

I actually found a bug that was causing at least half of the problems - I was doing `return;` inside a `map` to remove objects that were shadow items, which does not work since `map` is not `filter`. I fixed that, and now at least one problem is sorted out.

Anyways, I applied your change and it fixed

[2021-02-27 04:29] thousandsofraccoons opened #252 "Board + css scroll snap"
Board style with scroll snap has some weird behavior during column drag. I tried to turn off scroll snap `on drag start`, but the behavior still there. It scrolls right a little and the left column jumps out of the screen on each drag.

[2021-02-27 04:39] isaacHagoel commented on #252
REPL please

[2021-02-27 23:45] isaacHagoel commented on #238
The problem seems to be that when an element from the nested container leaves its container the snippets array within the parent doesn't get updated. this is why you get a duplicate item.
the library provides the correct list of items to the nested container on the "draggedLeft" event (as in without the child that left). On the "draggedEntered" event it is providing a top level list with the new e

[2021-02-28 00:18] ezfe commented on #238
Ah thanks, that helps - I can take a look at those events

[2021-03-07 12:38] antony opened #253 "Browser support"
Hi - this looks fantastic. I'm currently using dragula across my apps and I'd definitely like to switch to this library instead.

One thing I don't see on the readme is anything about browser support. It would be good to know what browsers are expected to work, and which ones aren't.

[2021-03-07 21:16] isaacHagoel commented on #253
good point. i believe it will probably work fine even on relatively old
browsers (based on the APIs the code is using) but I haven't tested that in
a while.
i can try to find time to play around with IE11 and IE9 and see what
happens.
modern browsers are supported for sure but that probably goes without
saying.

On Sun, Mar 7, 2021 at 11:38 PM Antony Jones <notifications@github.com>
wrote:

[2021-03-08 19:18] PaulBeaudet opened #254 "Question: Is nesting in same type overlapping/stacked DND zones possible?"
This idea might be breaking an assumption of the library.

Say we were talking in Trello board terms a series of lists and the containing cards would be two separate DND zone types. This much I understand and could replicate with this library. Where I want to divert from the functionality is the ability to drag a card within a card whilst maintaining the ability to prioritize cards within the list

[2021-03-08 19:36] isaacHagoel commented on #254
Hi,
if you can create a simple REPL that illustrates what you are trying to do
(it will be broken, i understand), i might be able to fix it for you and
explain what i did.
thx

On Tue, Mar 9, 2021 at 6:18 AM Paul Beaudet <notifications@github.com>
wrote:

[2021-03-08 21:38] PaulBeaudet commented on #254
Hi Isaac,

Seems like I should take a look at my application a bit more carefully. Doing what I was thinking about in the REPL from scratch was easy enough. I think the dnd zones in my app are right on top of each other. Which might be causing some of the issues explained above.

Here's what I came up with that clearly shows stacked zones are not an issue- https://svelte.dev/repl/de5d48ca7cad41f09

[2021-03-08 21:44] PaulBeaudet commented on #254
Actually, on a closer look, that example is throwing a lot of errors. Probably because I'm not updating the parent component data

[2021-03-08 22:01] isaacHagoel commented on #254
changing from ul to section in your List component fixed the errors.
you had a ul with other uls as children (cards) which is not legal markup.
https://svelte.dev/repl/4281aedcc02441728e199f4bc264e7ed?version=3.35.0

[2021-03-09 14:22] PaulBeaudet commented on #254
Thanks for taking the time to look at this Isaac. I appreciate the work that you've done on this library. It's really helped me quickly get up and running with drag and drop without getting into the details of the dom API. The keyboard/accessibility features are a great touch.

Each card was wrapped in an <li> It was actually <ul>s inside of <li>s. Regardless, it's probably the same markup issue,

[2021-03-09 15:30] PaulBeaudet commented on #254
After some more experimenting, seems like there are at least issues I'm running into.

The first I mentioned in the last comment about the drop zone dodging the cursor.

The other issue is me assuming the data model holds up without sticking it into one firm parent structure that feeds top down. I've run into a lot of "object could not be cloned" errors followed by dzToConfig.get(...) is undefined

[2021-03-09 15:30] #254 closed

[2021-03-11 09:57] atava opened #255 "Inherited CSS variable lost on dragging"
Hi all.
First off, thank you for this library and the commitment and mindful attitude with which you are developing it.

That said, here is my current issue.
An element I'm dragging uses a CSS variable which is inherited from some of its ancestors in the DOM.
While dragging it, I saw inspecting the DOM that the element is removed from its original location and put inside the body, so it is losing

[2021-03-11 12:08] isaacHagoel commented on #255
In theory it is possible.
The main consideration is to move it to a place in which svelte won't try
to remove it as part of it re-rendering stuff and won't be confused by it's
presence.
We can try to play around with it and see what happens.
With that said, if you define the style that uses the css variable on the
direct children of the dndzone (ex: `div {color: var(--my-var);}` where the
list ite

[2021-03-11 12:55] atava commented on #255
Yes, that would work because the variable would be with the element. But it doesn't fit with my particular use case, as the variable that these "areas" (the containing divs) are setting is the size of the draggable elements themselves, and I want the elements to be completely agnostic about it. Their size is something that the upper divs specify and they inherit/find it in their style definitions.